<template>
  <b-row class="mt-5">
    <b-col class="col-md-6 mx-auto">
      <div class="shadow rounded p-3 mb-5">
        <b-form v-model="valid" @submit="resetPassword">
          <b-form-group id="emailgroup" label="Email" label-for="email">
            <b-form-input
              id="email"
              v-model="email"
              v-validate="'required|email'"
              :placeholder="this.$t('global.placeholder.email')"
              type="email"
              name="email"
            />
          </b-form-group>
          <div class="error">
            <span>{{ errors.first('email') }}</span>
          </div>
          <b-form-group
            id="passwordgroup"
            label="Password"
            label-for="password"
          >
            <b-form-input
              id="password"
              ref="password"
              v-model="password"
              v-validate="'required|verify_password|min:8|max:15'"
              :placeholder="this.$t('global.placeholder.password')"
              type="password"
              name="password"
            />
          </b-form-group>
          <div class="error">
            <span>{{ errors.first('password') }}</span>
          </div>
          <b-form-group
            id="confirmpasswordgroup"
            label="Password Again"
            label-for="password_confirmation"
          >
            <b-form-input
              id="password_confirmation"
              v-model="password_confirmation"
              v-validate="'required|confirmed:password'"
              :placeholder="this.$t('global.placeholder.re_password')"
              data-vv-as="password"
              type="password"
              name="password_confirmation"
            />
          </b-form-group>
          <div class="error">
            <span>{{ errors.first('password_confirmation') }}</span>
          </div>
          <div class="d-flex justify-content-center">
            <b-button size="md" type="submit" variant="outline-info">{{
              this.$t('global.buttons.submit')
            }}</b-button>
          </div>
        </b-form>
      </div>
    </b-col>
  </b-row>
</template>

<script>
import nuxtend from 'nuxtend'
import _ from 'lodash'
import base from '~/mixins/base'

export default nuxtend({
  layout: 'login',

  pageRootKey: 'verifyEmail',

  mixins: [base()],
  middleware: ['isLoggedIn'],
  data() {
    return {
      valid: false,
      token: this.$route.params.resettoken,
      email: null,
      password: null,
      password_confirmation: null
    }
  },

  async fetch({ app, store }) {
    return Promise.all([await store.dispatch('langAsync', ['validation'])])
  },

  beforeCreate() {
    // console.log(this.$route.params)
    this.$i18n.mergeLocaleMessage(
      this.$store.getters.locale,
      _.get(this.$store.getters.messages, this.$store.getters.locale)
    )
  },

  created() {
    const verifyRule = {}
    _.set(verifyRule, 'email', {
      required: this.$t('validation.required', {
        attribute: this.$t('global.fields.email')
      }),
      email: this.$t('validation.email', {
        attribute: this.$t('global.fields.email')
      })
    })
    _.set(verifyRule, 'password', {
      required: this.$t('validation.required', {
        attribute: this.$t('global.fields.password')
      })
    })
    _.set(verifyRule, 'password_confirmation', {
      required: this.$t('validation.required', {
        attribute: this.$t('global.fields.re_password')
      })
    })
    this.$validator.localize(this.$store.getters.locale, {
      custom: verifyRule
    })
  },

  methods: {
    resetPassword(evt) {
      evt.preventDefault()
      this.$store
        .dispatch('users/resetPassword', {
          token: this.token,
          email: this.email,
          password: this.password,
          password_confirmation: this.password_confirmation,
          user_type: 'admin'
        })
        .then(response => {
          this.$toast.show(response.data.message)
          this.$router.push(this.$i18n.path('/'))
        })
        .catch(err => {
          const errs = []
          _.each(err.response.data.errors, function(messages, field) {
            errs.push(
              _.merge(
                {},
                {
                  field: field,
                  msg: messages[0]
                }
              )
            )
          })
          if (errs.length > 0) {
            this.errors.add(errs)
          }

          this.$toast.show(err.response.data.message)
        })
    }
  }
})
</script>

<style scoped></style>
