<template>
  <b-row class="mt-5">
    <b-col class="col-md-9 mx-auto">
      <div class="shadow rounded p-3 mb-5">
        <b-row>
          <b-col class="col-md-7 col-12">
            <b-form class="border-right p-2" @submit.prevent="forgotPassowrd">
              <b-form-group
                id="emailgroup"
                :label="this.$t('global.fields.email')"
                label-for="email"
                label-class="required"
              >
                <b-form-input
                  id="email"
                  v-model="email"
                  v-validate="'required|email'"
                  :data-vv-as="$t('global.placeholder.email')"
                  :placeholder="this.$t('global.placeholder.email')"
                  type="email"
                  data-vv-name="email"
                  name="email"
                />
              </b-form-group>
              <div class="error">
                <span>{{ errors.first('email') }}</span>
              </div>
              <div class="d-flex justify-content-center">
                <b-button
                  :disabled="valid"
                  size="md"
                  type="submit"
                  variant="outline-info"
                >
                  <font-awesome-icon
                    v-if="valid"
                    :icon="['fas', 'spinner']"
                    :style="{ color: '#27B6C5' }"
                  />
                  {{ this.$t('global.buttons.submit') }}</b-button
                >
              </div>
            </b-form>
          </b-col>
          <b-col class="col-md-5 col-12 register-section">
            <div class="mt-4 p-4">
              <p>
                {{ pageContent('link_to_login') }}
                <nuxt-link :to="$i18n.path('/')">{{
                  pageContent('login_link')
                }}</nuxt-link>
              </p>
            </div>
          </b-col>
        </b-row>
      </div>
    </b-col>
  </b-row>
</template>

<script>
import nuxtend from 'nuxtend'
import _ from 'lodash'
import base from '~/mixins/base'

export default nuxtend({
  layout: 'login',

  pageRootKey: 'register',

  mixins: [base()],
  middleware: ['isLoggedIn'],
  data() {
    return {
      valid: false,
      email: null
    }
  },

  async fetch({ app, store }) {
    return Promise.all([await store.dispatch('langAsync', ['validation'])])
  },

  beforeCreate() {
    this.$i18n.mergeLocaleMessage(
      this.$store.getters.locale,
      _.get(this.$store.getters.messages, this.$store.getters.locale)
    )
  },

  created() {
    const forgotRule = {}
    _.set(forgotRule, 'email', {
      required: this.$t('validation.required', {
        attribute: this.$t('global.fields.email')
      }),
      email: this.$t('validation.email', {
        attribute: this.$t('global.fields.email')
      })
    })
    this.$validator.localize(this.$store.getters.locale, {
      custom: forgotRule
    })
  },

  methods: {
    forgotPassowrd(evt) {
      this.$toast.clear()
      this.valid = true
      this.$validator.validateAll().then(success => {
        this.$store
          .dispatch('users/forgotPassword', {
            email: this.email,
            user_type: 'admin'
          })
          .then(response => {
            this.$toast.show(response.data.message, {
              icon: 'check',
              type: 'success'
            })
            this.$router.push(this.$i18n.path('/'))
          })
          .catch(err => {
            this.valid = false
            const errs = []
            _.each(err.response.data.errors, function(messages, field) {
              errs.push(
                _.merge(
                  {},
                  {
                    field: field,
                    msg: messages[0]
                  }
                )
              )
            })
            if (errs.length > 0) {
              this.errors.add(errs)
            }
            this.$toast.show(err.response.data.message, {
              icon: 'close',
              type: 'error'
            })
          })
      })
    }
  }
})
</script>

<style scoped></style>
