<template>
  <section>
    <div class="p-2 ml-3">
      <b-row align-h="between">
        <b-col class="text-left" cols="4">
          <h3>
            {{ $t('global.fields.contact_us_detail') }}
          </h3>
        </b-col>
        <b-col class="text-right" cols="4">
          {{ $t('global.fields.received_date') }} :
          {{ $moment(contact_detail.data.created_at).format('YYYY/MM/DD') }}
        </b-col>
      </b-row>
      <!--
      <b-row class="mt-3">
        <b-col cols="2" class="text-right" align-self="start">
          {{ $t('global.fields.seeker_provider') }}:
        </b-col>
        <b-col cols="2" class="text-left">
          {{
            contact_detail.data.type == 1
              ? $t('global.fields.seeker')
              : $t('global.fields.provider')
          }}
        </b-col>
        <b-col cols="2" class="text-right">
          {{
            contact_detail.data.type == 1
              ? $t('global.fields.name')
              : $t('global.fields.contact_company_name')
          }}:
        </b-col>
        <b-col cols="6" class="text-left">
          {{
            contact_detail.data.type == 1
              ? contact_detail.data.full_name
              : contact_detail.data.full_name +
                ' / ' +
                contact_detail.data.company_name
          }}
        </b-col>
      </b-row>
      -->
    </div>
    <div class="ml-2 shadow p-3">
      <b-row class="ml-2">
        <!--<b-col class="col-6 mb-1">-->
        <!--<b-list-group>-->
        <!--<b-list-group-item>-->
        <!--{{ $t('global.fields.replied_date') }}:-->
        <!--{{-->
        <!--parseInt(contact_detail.data.admin_replied) === 0-->
        <!--? $t('global.fields.not_replied')-->
        <!--: $moment(contact_detail.data.updated_at).format('YYYY/MM/DD')-->
        <!--}}-->
        <!--</b-list-group-item>-->
        <!--</b-list-group>-->
        <!--</b-col>-->

        <b-col class="mb-3 text-left col-6 mb-1">
          {{ $t('global.fields.seeker_provider') }}:
          {{
            contact_detail.data.type == 1
              ? $t('global.fields.seeker')
              : $t('global.fields.provider')
          }}
        </b-col>
        <b-col
          v-if="contact_detail.data.type == 1"
          class="mb-3 text-left col-6 mb-1"
        >
          {{ $t('global.fields.full_name') }}:
          {{ contact_detail.data.full_name }}
        </b-col>
        <b-col v-else class="mb-3 text-left col-6 mb-1">
          {{ $t('global.fields.company_name') }}:
          {{ contact_detail.data.company_name }}
        </b-col>
        <b-col
          v-if="contact_detail.data.type == 1"
          class=" mb-3 text-left col-6 mb-1"
        >
          {{ $t('global.fields.receive_mail_language') }}:
          {{
            contact_detail.data.receive_mail_language === 'en'
              ? $t('global.fields.english')
              : $t('global.fields.japanese')
          }}
        </b-col>
        <b-col v-else class=" mb-3 text-left col-6 mb-1">
          {{ $t('global.fields.contact_person_name') }}:
          {{ contact_detail.data.full_name }}
        </b-col>
        <b-col class=" mb-3 text-left col-6 mb-1">
          {{ $t('global.fields.email') }}:
          {{ contact_detail.data.email }}
        </b-col>
        <b-col class="mb-3 text-left col-6 mb-1">
          {{ $t('global.fields.mobile_number') }}:
          {{
            contact_detail.data.mobile != null
              ? contact_detail.data.mobile
              : $t('global.fields.not_setting')
          }}
        </b-col>
        <b-col class="text-left col-6 mb-1">
          {{ $t('global.fields.receive_mail_language') }}:
          {{
            contact_detail.data.receive_mail_language === 'en'
              ? $t('global.fields.english')
              : $t('global.fields.japanese')
          }}
        </b-col>
      </b-row>
      <b-row class="ml-2">
        <b-col class=" text-left col-12 mb-1">
          {{ $t('global.fields.message') }}:
        </b-col>
        <b-col class="text-left col-12 mb-1 ml-3">
          {{ contact_detail.data.message }}
        </b-col>
        <b-col
          v-if="parseInt(contact_detail.data.admin_replied) === 1"
          class="text-left col-12 mb-1"
        >
          {{ $t('global.fields.admin_reply') }}:
        </b-col>
        <b-col
          v-if="parseInt(contact_detail.data.admin_replied) === 1"
          class="text-left col-12 mb-1 ml-3"
        >
          {{ contact_detail.data.admin_reply }}
        </b-col>
      </b-row>
      <b-row v-show="parseInt(contact_detail.data.admin_replied) === 1">
        <b-col class="text-right col-12 mb-3 mr-5">
          {{ $t('global.fields.replied_date') }}:
          {{ $moment(contact_detail.data.updated_at).format('YYYY/MM/DD') }}
        </b-col>
      </b-row>
      <b-row class="ml-2">
        <b-col class="col-12">
          <b-form>
            <b-form-group
              v-if="show_reply"
              id="admin_reply"
              :label="$t('global.fields.admin_reply')"
              label-for="admin_reply"
              label-class="required"
            >
              <b-textarea
                id="admin_reply"
                v-model="admin_reply"
                v-validate="'required'"
                :rows="6"
                data-vv-name="admin_reply"
                :data-vv-as="$t('global.fields.admin_reply')"
              />
              <span class="error">{{ errors.first('admin_reply') }}</span>
            </b-form-group>

            <b-form-group class="text-center">
              <b-btn
                class="text-center"
                variant="info"
                @click.stop="$router.push({ path: $i18n.path('/contact') })"
              >
                {{ $t('global.buttons.back') }}</b-btn
              >
              <b-btn
                v-if="show_reply"
                :disabled="!show_reply"
                class="text-center"
                @click="adminReply"
              >
                <font-awesome-icon
                  v-if="valid"
                  :icon="['fas', 'spinner']"
                  :style="{ color: '#27B6C5' }"
                />{{ $t('global.buttons.reply') }}</b-btn
              >
            </b-form-group>
          </b-form>
        </b-col>
      </b-row>
    </div>
  </section>
</template>

<script>
import _ from 'lodash'
import nuxtend from 'nuxtend'
import { mapGetters } from 'vuex'
import base from '~/mixins/base'

export default nuxtend({
  pageRootKey: 'message_detail',
  middleware: 'loggedIn',

  mixins: [base()],

  async fetch({ app, store, params, query }) {
    return Promise.all([
      await store.dispatch('getContactDetail', { id: params.id })
    ])
  },
  computed: {
    ...mapGetters({
      contact_detail: 'contact_detail'
    }),
    show_reply: function() {
      if (parseInt(this.contact_detail.data.admin_replied) === 1) {
        return false
      }
      return true
    }
  },
  created() {
    this.veevalidateLocalize()
  },
  data() {
    return {
      valid: false,
      admin_reply: this.$store.getters.contact_detail.admin_reply
    }
  },
  methods: {
    adminReply() {
      this.valid = true
      this.errors.clear()
      this.$toast.clear()
      this.$validator.validateAll().then(success => {
        if (success) {
          const replyData = {
            id: this.contact_detail.data.id,
            admin_reply: this.admin_reply
          }
          this.$store
            .dispatch('contactAdminReply', replyData)
            .then(res => {
              this.$toast.show(res.data.message, {
                icon: 'check',
                type: 'success'
              })
              window.location.reload(true)
            })
            .catch(err => {
              this.$toast.show(err.response.data.message, {
                icon: 'close',
                type: 'error'
              })
              const errs = []
              _.each(err.response.data.errors, function(messages, field) {
                errs.push(
                  _.merge(
                    {},
                    {
                      msg: messages[0]
                    }
                  )
                )
              })
              this.valid = false
            })
        } else {
          this.valid = false
        }
      })
    }
  }
})
</script>
<style scoped></style>
