<template>
  <section class="shadow p-2">
    <b-container fluid class="p-2">
      <b-row class="mt-1">
        <b-col md="3">
          <b-form-input
            v-model="searchParameters.email"
            :placeholder="$t('global.placeholder.email')"
          />
        </b-col>
        <b-col md="3">
          <b-col md="3">
            <date-picker
              v-model="searchParameters.created_at"
              :placeholder="$t('global.fields.received_date')"
              :lang="date_lang()"
              format="YYYY-MM-DD"
            />
          </b-col>
        </b-col>
      </b-row>
      <b-row class="mt-1 mb-1 float-right">
        <b-col class="md-3 lg">
          <b-btn class="reset" @click="resetSearchParameters">{{
            $t('global.buttons.reset')
          }}</b-btn>
        </b-col>
        <b-col>
          <b-btn @click="refreshTable">{{ $t('global.buttons.search') }}</b-btn>
        </b-col>
      </b-row>
    </b-container>
    <b-table
      ref="table"
      :items="getItems || []"
      :fields="headers"
      :empty-text="
        isBusy == true ? 'Processing data' : 'There are no records to show.'
      "
      show-empty
      striped
      hover
      stacked="md"
      head-variant="dark"
    >
      <template slot="full_name" slot-scope="props">
        {{
          props.item.type == 1
            ? props.item.full_name
            : props.item.full_name + '/' + props.item.company_name
        }}
      </template>
      <template slot="created_at" slot-scope="props">
        {{ $moment(props.item.created_at).format('YYYY/MM/DD') }}
      </template>
      <template slot="admin_replied" slot-scope="props">
        {{ attribute('boolean', props.item.admin_replied).text }}
      </template>
      <template slot="type" slot-scope="props">
        {{
          props.item.type == 1
            ? $t('global.fields.seeker')
            : $t('global.fields.provider')
        }}
      </template>
      <template slot="actions" slot-scope="props">
        <b-button size="sm" @click.stop="props.toggleDetails">
          {{ $t('global.buttons.view_message') }}
        </b-button>
        <b-button
          size="sm"
          @click.stop="
            $router.push({ path: $i18n.path(`/contact/${props.item.id}`) })
          "
        >
          {{
            props.item.admin_replied == 1
              ? $t('global.buttons.view_detail')
              : $t('global.buttons.reply')
          }}
        </b-button>
      </template>
      <template slot="row-details" slot-scope="props">
        <b-row>
          <b-col class="col-6">
            <b-list-group>
              <b-list-group-item>
                {{ $t('global.fields.receive_mail_language') }}:
                {{
                  props.item.receive_mail_language === 'en'
                    ? $t('global.fields.english')
                    : $t('global.fields.japanese')
                }}
              </b-list-group-item>
            </b-list-group>
          </b-col>
          <b-col class="col-6">
            <b-list-group>
              <b-list-group-item>
                {{ $t('global.fields.mobile_number') }}:
                {{
                  props.item.mobile == !null
                    ? props.item.mobile
                    : $t('global.fields.not_setting')
                }}
              </b-list-group-item>
            </b-list-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col class="col-12 mt-2">
            <b-list-group>
              <b-list-group-item>
                {{ $t('global.fields.message') }}:<br />
                {{ props.item.message }}
              </b-list-group-item>
            </b-list-group>
          </b-col>
        </b-row>
      </template>
    </b-table>
    <Pagination ref="pagination" :meta="meta" page="job.list" />
  </section>
</template>

<script>
import nuxtend from 'nuxtend'
import list from '~/mixins/list'
import Pagination from '~/components/Navigation/Pagination'

export default nuxtend({
  middleware: 'loggedIn',

  components: {
    Pagination
  },
  mixins: [list('admin/contact')],
  fetch({ app, store, query }) {
    return Promise.all([store.dispatch('attributeAsync', ['boolean'])])
  },
  data() {
    return {
      headers: [
        {
          key: 'id',
          label: this.$t('global.fields.id'),
          sortable: true
        },
        {
          key: 'type',
          label: this.$t('global.fields.seeker_provider'),
          sortable: false
        },
        {
          key: 'full_name',
          label: this.$t('global.fields.contact_company_name'),
          sortable: true
        },
        { key: 'email', label: this.$t('global.fields.email'), sortable: true },
        {
          key: 'created_at',
          label: this.$t('global.fields.received_date'),
          sortable: true
        },
        {
          key: 'admin_replied',
          label: this.$t('global.fields.admin_replied'),
          sortable: true
        },
        {
          key: 'actions',
          label: this.$t('global.fields.actions'),
          sortable: false
        }
      ],
      searchParameters: {
        created_at: null,
        email: null,
        page: 1,
        limit: 10,
        direction: 'asc',
        orderby: 'created_at'
      },
      sortOrder: false,
      isBusy: true
    }
  },
  methods: {
    getItems(ctx, callback) {
      this.getTableData(ctx, callback, this.searchParameters)
    }
  }
})
</script>

<style scoped>
.mx-datepicker {
  display: block !important;
}
.reset {
  word-break: keep-all;
}
</style>
