<template>
  <b-row class="mt-5">
    <b-col class="col-md-6 mx-auto">
      <div class="shadow rounded p-3 mb-5">
        <div class="error">
          <span>{{ errors.first('token') }}</span>
        </div>
        <b-form @submit.prevent="verifyEmail">
          <b-form-group
            id="emailgroup"
            :label="this.$t('global.fields.email')"
            label-for="email"
            label-class="required"
          >
            <b-form-input
              id="email"
              v-model="email"
              v-validate="'required|email'"
              :placeholder="this.$t('global.placeholder.email')"
              :disabled="true"
              type="email"
              name="email"
            />
          </b-form-group>
          <div class="error">
            <span>{{ errors.first('email') }}</span>
          </div>
          <b-form-group
            id="full_name"
            :label="this.$t('global.fields.full_name')"
            label-for="full_name"
            label-class="required"
          >
            <b-form-input
              id="full_name"
              v-model="full_name"
              v-validate="'required'"
              :data-vv-as="this.$t('global.fields.full_name')"
              :placeholder="this.$t('global.placeholder.full_name')"
              data-vv-name="full_name"
            />
          </b-form-group>
          <div class="error">
            <span>{{ errors.first('full_name') }}</span>
          </div>
          <b-form-group
            id="katakana"
            :label="this.$t('global.fields.katakana_full_name')"
            label-for="katakana_full_name"
            label-class="required"
          >
            <b-form-input
              id="katakana_full_name"
              v-model="katakana_full_name"
              v-validate="'required|katakana'"
              :data-vv-as="this.$t('global.fields.katakana_full_name')"
              data-vv-name="katakana_full_name"
            />
          </b-form-group>
          <div class="error">
            <span>{{ errors.first('katakana_full_name') }}</span>
          </div>
          <b-form-group
            id="passwordgroup"
            :label="this.$t('global.fields.password')"
            label-for="password"
            label-class="required"
          >
            <b-form-input
              id="password"
              ref="password"
              v-model="password"
              v-validate="'required|verify_password|min:8|max:15'"
              :placeholder="this.$t('global.placeholder.password')"
              :data-vv-as="this.$t('global.fields.password')"
              type="password"
              name="password"
            />
          </b-form-group>
          <div class="error">
            <span>{{ errors.first('password') }}</span>
          </div>
          <b-form-group
            id="confirmpasswordgroup"
            :label="this.$t('global.fields.re_password')"
            label-for="password_confirmation"
            label-class="required"
          >
            <b-form-input
              id="password_confirmation"
              v-model="password_confirmation"
              v-validate="'required|confirmed:password'"
              :placeholder="this.$t('global.placeholder.re_password')"
              data-vv-as="password"
              type="password"
              name="password_confirmation"
            />
          </b-form-group>
          <div class="error">
            <span>{{ errors.first('password_confirmation') }}</span>
          </div>
          <div class="d-flex justify-content-center">
            <b-button
              :disabled="valid"
              size="md"
              type="submit"
              variant="outline-info"
            >
              <font-awesome-icon
                v-if="valid"
                :icon="['fas', 'spinner']"
                :style="{ color: '#27B6C5' }"
              />{{ this.$t('global.buttons.submit') }}</b-button
            >
          </div>
        </b-form>
      </div>
    </b-col>
  </b-row>
</template>

<script>
import nuxtend from 'nuxtend'
import _ from 'lodash'
import base from '~/mixins/base'
export default nuxtend({
  components: {},
  computed: {},
  layout: 'login',

  pageRootKey: 'verifyEmail',

  mixins: [base()],
  middleware: ['isLoggedIn'],

  data() {
    return {
      valid: false,
      token: this.$route.query.token,
      email: null,
      full_name: null,
      katakana_full_name: null,
      password: null,
      password_confirmation: null
    }
  },

  asyncData({ app, store, params, query }) {
    return Promise.all([
      store.dispatch('users/preVerifyEmail', { token: query.token })
    ]).then(res => {
      return { email: res[0].email, full_name: res[0].full_name }
    })
  },

  created() {
    this.veevalidateLocalize()
  },

  methods: {
    verifyEmail(evt) {
      this.valid = true
      this.$validator.validateAll().then(success => {
        if (success) {
          this.$store
            .dispatch('users/verifyEmail', {
              token: this.token,
              email: this.email,
              full_name: this.full_name,
              katakana_full_name: this.katakana_full_name,
              password: this.password,
              password_confirmation: this.password_confirmation,
              user_type: 'admin'
            })
            .then(response => {
              this.$toast.show(response.data.message, {
                icon: 'check',
                type: 'success'
              })
              this.$router.push(this.$i18n.path('/'))
            })
            .catch(err => {
              this.valid = false
              const errs = []
              _.each(err.response.data.errors, function(messages, field) {
                errs.push(
                  _.merge(
                    {},
                    {
                      field: field,
                      msg: messages[0]
                    }
                  )
                )
              })
              if (errs.length > 0) {
                this.errors.add(errs)
              }
              this.$toast.show(err.response.data.message, {
                icon: 'close',
                type: 'error'
              })
            })
        } else {
          this.valid = false
        }
      })
    }
  }
})
</script>

<style scoped></style>
