<template>
  <section class="shadow p-2">
    <b-container fluid class="p-2">
      <b-row>
        <b-col md="3">
          <b-form-input
            v-model="searchParameters.search"
            :placeholder="$t('global.placeholder.title')"
          />
        </b-col>
        <b-col md="3">
          <b-form-input
            v-model="searchParameters.job_identifier_id"
            :placeholder="$t('global.placeholder.job_identifier_id')"
          />
        </b-col>
        <b-col md="3">
          <b-form-select
            v-model="searchParameters.category_id"
            :options="attribute('job_category')"
          >
            <option slot="first" :value="null">{{
              $t('global.fields.category')
            }}</option>
          </b-form-select>
        </b-col>
        <b-col md="3">
          <b-form-select
            v-model="searchParameters.employment_type"
            :options="attribute('employment_type')"
          >
            <option slot="first" :value="null">{{
              $t('global.fields.employment_type')
            }}</option>
          </b-form-select>
        </b-col>
      </b-row>
      <b-row class="mt-1">
        <b-col md="3">
          <b-form-input
            v-model="searchParameters.min_salary"
            :placeholder="$t('global.placeholder.min_salary')"
          />
        </b-col>
        <b-col md="3">
          <b-form-input
            v-model="searchParameters.max_salary"
            :placeholder="$t('global.placeholder.max_salary')"
          />
        </b-col>
        <b-col md="3">
          <b-form-select
            v-model="searchParameters.prefecture_id"
            :options="attribute('prefecture')"
          >
            <option slot="first" :value="null">{{
              $t('global.fields.prefecture')
            }}</option>
          </b-form-select>
        </b-col>
        <b-col md="3">
          <b-form-select
            v-model="searchParameters.admin_status"
            :options="attribute('admin_job_status')"
          >
            <option slot="first" :value="null">{{
              $t('global.fields.status')
            }}</option>
          </b-form-select>
        </b-col>
      </b-row>
      <no-ssr>
        <b-row class="mt-1">
          <b-col md="3">
            <date-picker
              v-model="searchParameters.created_at"
              :placeholder="$t('global.placeholder.create_at')"
              :lang="date_lang()"
              type="month"
              format="YYYY-MM"
            />
          </b-col>
        </b-row>
      </no-ssr>

      <b-row class="mt-1 mb-1 float-right lg">
        <b-col class="md-3 lg">
          <b-btn class="reset" @click="resetSearchParameters">{{
            $t('global.buttons.reset')
          }}</b-btn>
        </b-col>
        <b-col>
          <b-btn @click="refreshTable">{{ $t('global.buttons.search') }}</b-btn>
        </b-col>
      </b-row>
    </b-container>
    <b-table
      ref="table"
      :items="getJobs"
      :fields="headers"
      :empty-text="
        isBusy == true ? 'Processing data' : 'There are no records to show.'
      "
      show-empty
      striped
      hover
      stacked="md"
      head-variant="dark"
    >
      <template slot="title" slot-scope="props">
        {{ props.item.job_identifier_id }}
      </template>
      <template slot="title" slot-scope="props">
        <span :title="props.item.job_title[$store.getters.locale]" b-tooltop>
          {{
            props.item.job_title[$store.getters.locale] != null &&
            props.item.job_title[$store.getters.locale].length > 15
              ? props.item.job_title[$store.getters.locale].substr(0, 15) +
                '...'
              : props.item.job_title[$store.getters.locale]
          }}
        </span>
      </template>
      <template slot="employment_types" slot-scope="props">
        {{ attribute('employment_type', props.item.employment_type).text }}
        <br />
        {{ attribute('job_category', props.item.category_id).text }}
      </template>
      <template slot="status" slot-scope="props">
        <span>
          {{ attribute('admin_job_status', props.item.admin_status).text }}
          <b-badge
            v-if="props.item.admin_status == 1 && props.item.admin_comment >= 2"
            variant="info"
            >{{ $t('global.status.reviewed') }}
          </b-badge>
        </span>
        <!--<span v-if="props.item.admin_status === 0">{{ $t('global.status.approved') }} </span>-->
        <!--<span v-else-if="props.item.admin_status === 1">{{ $t('global.status.pending') }}-->
        <!--</span>-->
      </template>
      <template slot="created_at" slot-scope="props">
        {{ $moment(props.item.created_at).format('YYYY/MM/DD') }}
      </template>
      <template slot="actions" slot-scope="props">
        <b-button
          size="sm"
          class="mr-2"
          @click.stop="
            $router.push({ path: $i18n.path(`/jobs/edit/${props.item.id}`) })
          "
        >
          {{ $t('global.buttons.edit') }}
        </b-button>
        <b-button size="sm" @click.stop="props.toggleDetails">
          {{ $t('global.buttons.quick_view') }}
        </b-button>
      </template>
      <template slot="row-details" slot-scope="props">
        <b-row>
          <b-col class="col-12"
            ><h2>{{ $t('global.titles.company_info') }}</h2></b-col
          >
        </b-row>
        <b-row>
          <b-col class="col-6">
            <b-list-group>
              <b-list-group-item
                >{{ $t('global.fields.company_name') }} :
                {{
                  props.item.provider_info.company_name[$store.getters.locale]
                }}</b-list-group-item
              >
              <b-list-group-item
                >{{ $t('global.fields.ceo_name') }}:
                {{
                  props.item.provider_info.ceo_name[$store.getters.locale]
                }}</b-list-group-item
              >
              <b-list-group-item
                >{{ $t('global.fields.established_year') }}:
                {{
                  $moment(props.item.provider_info.established_year).format(
                    'YYYY/MM/DD'
                  )
                }}
              </b-list-group-item>
              <b-list-group-item
                >{{ $t('global.fields.business_content') }}:
                {{
                  attribute(
                    'business_content',
                    props.item.provider_info.business_content
                  ).text
                }}
              </b-list-group-item>
              <b-list-group-item
                >{{ $t('global.fields.com_email') }}:
                {{ props.item.provider_info.email }}
              </b-list-group-item>
            </b-list-group>
          </b-col>
          <b-col class="col-6">
            <b-list-group>
              <b-list-group-item
                >{{ $t('global.fields.zip_code') }}:
                {{ props.item.provider_info.zip_code }}</b-list-group-item
              >
              <b-list-group-item
                >{{ $t('global.fields.prefecture') }} :
                {{
                  attribute(
                    'prefecture',
                    props.item.provider_info.prefecture_id
                  ).text
                }}</b-list-group-item
              >
              <b-list-group-item
                >{{ $t('global.fields.address') }}:
                {{ props.item.provider_info.address }}
                {{ props.item.provider_info.street_address }}
              </b-list-group-item>
              <b-list-group-item
                >{{ $t('global.fields.no_of_employee') }}:
                {{ props.item.provider_info.no_of_employee }}</b-list-group-item
              >
              <b-list-group-item
                >{{ $t('global.fields.com_telephone') }}:
                {{ props.item.provider_info.telephone }}
              </b-list-group-item>
            </b-list-group>
          </b-col>
        </b-row>
      </template>
    </b-table>
    <Pagination ref="pagination" :meta="meta" page="job.list" />
  </section>
</template>

<script>
import nuxtend from 'nuxtend'
import list from '~/mixins/list'
import Pagination from '~/components/Navigation/Pagination'
export default nuxtend({
  middleware: 'loggedIn',
  components: {
    Pagination
  },
  mixins: [list('jobs')],
  fetch({ app, store, query }) {
    return Promise.all([
      store.dispatch('attributeAsync', [
        'skill_type',
        'employment_type',
        'job_status',
        'admin_job_status'
      ]),
      store.dispatch('attributeAsync', [
        'job_category',
        'system_engineer',
        'others'
      ]),
      store.dispatch('attributeAsync', ['business_content', 'prefecture'])
    ])
  },
  data() {
    return {
      headers: [
        {
          key: 'job_identifier_id',
          label: this.$t('global.fields.identifier_id'),
          sortable: true
        },
        { key: 'title', label: this.$t('global.fields.title'), sortable: true },
        {
          key: 'employment_types',
          label: this.$t('global.fields.employment_types_category'),
          sortable: false
        },
        // { key: 'review_status', label: this.$t('global.fields.review_status') ,sortable:false },
        {
          key: 'status',
          label: this.$t('global.fields.status'),
          sortable: false
        },
        {
          key: 'created_at',
          label: this.$t('global.fields.registrationDate'),
          sortable: true
        },
        {
          key: 'actions',
          label: this.$t('global.fields.actions'),
          sortable: false
        }
      ],
      meta: {
        total: 0
      },
      searchParameters: {
        created_at: null,
        max_salary: null,
        min_salary: null,
        job_identifier_id: null,
        prefecture_id: null,
        category_id: null,
        employment_type: null,
        admin_status: null,
        search: null,
        page: 1,
        limit: 10,
        direction: 'desc',
        orderby: 'created_at'
      },
      sortOrder: false,
      isBusy: false
    }
  },
  methods: {
    async getJobs(ctx, callback) {
      await this.getTableData(ctx, callback, this.searchParameters)
    }
  }
})
</script>
<style scoped>
.mx-datepicker {
  display: block !important;
}
.reset {
  word-break: keep-all;
}
</style>
