<template>
  <section class="shadow p-2">
    <b-container fluid class="p-2">
      <b-row>
        <b-col md="3">
          <b-form-input
            v-model="searchParameters.seeker_identifier_id"
            :placeholder="$t('global.placeholder.identifier_id')"
          />
        </b-col>
        <b-col md="3">
          <b-form-input
            v-model="searchParameters.full_name"
            :placeholder="$t('global.placeholder.name_romaji')"
          />
        </b-col>
        <b-col md="3">
          <b-form-input
            v-model="searchParameters.katakana_full_name"
            :placeholder="$t('global.placeholder.name_katakana')"
          />
        </b-col>
        <b-col md="3">
          <b-form-select
            v-model="searchParameters.country"
            :options="attribute('country')"
          >
            <option slot="first" :value="null">{{
              $t('global.placeholder.birth_country')
            }}</option>
          </b-form-select>
        </b-col>
      </b-row>

      <b-row class="mt-1">
        <b-col md="3">
          <b-form-select
            v-model="searchParameters.living_country"
            :options="attribute('country')"
          >
            <option slot="first" :value="null">{{
              $t('global.placeholder.currently_living_country')
            }}</option>
          </b-form-select>
        </b-col>
        <b-col md="3">
          <b-form-select
            v-model="searchParameters.visa_status"
            :options="attribute('visa_status')"
          >
            <option slot="first" :value="null">{{
              $t('global.placeholder.visa_status')
            }}</option>
          </b-form-select>
        </b-col>
        <b-col md="3">
          <date-picker
            v-model="searchParameters.visa_issue_date"
            :placeholder="$t('global.placeholder.visa_issue_date')"
            :lang="date_lang()"
          />
        </b-col>
        <b-col md="3">
          <date-picker
            v-model="searchParameters.visa_expiry_date"
            :placeholder="$t('global.placeholder.visa_expiry_date')"
            :lang="date_lang()"
          />
        </b-col>
      </b-row>

      <b-row class="mt-1">
        <b-col md="3">
          <b-form-select
            v-model="searchParameters.gender"
            :options="attribute('gender')"
          >
            <option slot="first" :value="null">{{
              $t('global.fields.gender')
            }}</option>
          </b-form-select>
        </b-col>
        <b-col md="3">
          <b-form-select
            v-model="searchParameters.japanese_language_level"
            :options="attribute('lang.level')"
          >
            <option slot="first" :value="null">{{
              $t('global.fields.japanese_language_level')
            }}</option>
          </b-form-select>
        </b-col>
        <b-col md="3">
          <b-form-select
            v-model="searchParameters.japanese_writing_level"
            :options="attribute('language_writing_skills')"
          >
            <option slot="first" :value="null">{{
              $t('global.fields.japanese_language_writing_level')
            }}</option>
          </b-form-select>
        </b-col>
        <b-col md="3">
          <b-form-select
            v-model="searchParameters.english_language_level"
            :options="attribute('lang.level')"
          >
            <option slot="first" :value="null">{{
              $t('global.fields.english_language_level')
            }}</option>
          </b-form-select>
        </b-col>
      </b-row>
      <b-row class="mt-1">
        <b-col md="3">
          <b-form-select
            v-model="searchParameters.graduation_status"
            :options="attribute('graduation_status')"
          >
            <option slot="first" :value="null">{{
              $t('global.fields.graduation_status')
            }}</option>
          </b-form-select>
        </b-col>
        <b-col md="3">
          <b-form-input
            v-model="searchParameters.email"
            :placeholder="$t('global.placeholder.email')"
          />
        </b-col>
        <b-col md="3">
          <b-form-input
            v-model="searchParameters.mobile"
            :placeholder="$t('global.placeholder.mobile_number')"
          />
        </b-col>
        <b-col md="3">
          <b-col md="3">
            <date-picker
              v-model="searchParameters.created_at"
              :placeholder="$t('global.placeholder.registration_date')"
              :lang="date_lang()"
              type="month"
              format="YYYY-MM"
            />
          </b-col>
        </b-col>
      </b-row>

      <b-row class="mt-1">
        <b-col md="3">
          <b-form-select
            v-model="searchParameters.annual_salary"
            :options="attribute('annual_salary_range')"
          >
            <option slot="first" :value="null">{{
              $t('global.placeholder.final_income')
            }}</option>
          </b-form-select>
        </b-col>
        <b-col md="3">
          <b-form-input
            v-model="searchParameters.telephone"
            :placeholder="$t('global.placeholder.telephone')"
          />
        </b-col>
        <!--<b-col-->
        <!--md="3">-->
        <!--<b-form-select-->
        <!--v-model="searchParameters.verified"-->
        <!--:options="attribute('boolean')">-->
        <!--<option-->
        <!--slot="first"-->
        <!--:value="null">{{ $t('global.fields.email_verified') }}</option>-->
        <!--</b-form-select>-->
        <!--</b-col>-->
        <b-col md="3">
          <date-picker
            v-model="searchParameters.dob"
            :placeholder="$t('global.placeholder.dob')"
            :lang="date_lang()"
          />
        </b-col>
      </b-row>
      <b-row class="mt-1">
        <b-col md="6">
          <multiselect
            v-model="skills"
            :options="arrangedSource"
            :multiple="multiple"
            :placeholder="$t('global.placeholder.pick_skill')"
            label="text"
            track-by="text"
          />
        </b-col>
      </b-row>
      <b-row class="mt-1 mb-1 float-right">
        <b-col class="md-3 lg">
          <b-btn class="reset" @click="resetSearchParameters">{{
            $t('global.buttons.reset')
          }}</b-btn>
        </b-col>
        <b-col>
          <b-btn @click="refreshTable">{{ $t('global.buttons.search') }}</b-btn>
        </b-col>
      </b-row>
    </b-container>
    <b-table
      ref="table"
      :items="getItems"
      :fields="headers"
      :empty-text="
        isBusy == true ? 'Processing data' : 'There are no records to show.'
      "
      show-empty
      striped
      hover
      stacked="md"
      head-variant="dark"
    >
      <template slot="identifier_no" slot-scope="props">
        {{ props.item.seeker_identifier_id }}
      </template>
      <template slot="full_name" slot-scope="props">
        {{ props.item.full_name }}
      </template>
      <template slot="katakana_full_name" slot-scope="props">
        {{ props.item.katakana_full_name }}
      </template>
      <template slot="email" slot-scope="props">
        {{ props.item.email }}
      </template>
      <template slot="created_at" slot-scope="props">
        {{ $moment(props.item.created_at).format('YYYY/MM/DD') }}
      </template>
      <template slot="actions" slot-scope="props">
        <b-button size="sm" @click.stop="props.toggleDetails">
          {{ $t('global.buttons.quick_view') }}
        </b-button>
      </template>
      <template slot="row-details" slot-scope="props">
        <b-row>
          <b-col class="col-6">
            <b-list-group>
              <b-list-group-item
                >{{ $t('global.fields.date_of_birth') }}:
                {{
                  $moment(props.item.date_of_birth).format('YYYY/MM/DD')
                }}</b-list-group-item
              >
              <b-list-group-item
                >{{ $t('global.fields.experienced') }}:
                {{ attribute('boolean', props.item.is_experienced).text }}
                {{
                  props.item.is_experienced != null &&
                  props.item.is_experienced != 0
                    ? '(' +
                      attribute('experience_year', props.item.experienced)
                        .text +
                      ')'
                    : ''
                }}</b-list-group-item
              >
              <b-list-group-item
                >{{ $t('global.fields.japanese_language_level') }} :
                {{
                  attribute('lang.level', props.item.japanese_language_level)
                    .text
                }}</b-list-group-item
              >
              <b-list-group-item
                >{{ $t('global.fields.english_language_level') }} :
                {{
                  attribute('lang.level', props.item.english_language_level)
                    .text
                }}</b-list-group-item
              >
              <b-list-group-item
                >{{ $t('global.fields.visa_status') }} :
                {{
                  attribute('visa_status', props.item.visa_status).text
                }}</b-list-group-item
              >
              <b-list-group-item
                >{{ $t('global.fields.visa_issue_date') }} :
                {{
                  $moment(props.item.visa_issue_date).format('YYYY/MM/DD')
                }}</b-list-group-item
              >
              <b-list-group-item
                >{{ $t('global.fields.visa_expiry_date') }} :
                {{
                  $moment(props.item.visa_expiry_date).format('YYYY/MM/DD')
                }}</b-list-group-item
              >
            </b-list-group>
          </b-col>
          <b-col class="col-6">
            <b-list-group>
              <b-list-group-item
                >{{ $t('global.fields.birth_country') }} :
                {{
                  attribute('country', props.item.country).text
                }}</b-list-group-item
              >
              <b-list-group-item
                >{{ $t('global.fields.japanese_writing_level') }} :
                {{
                  attribute(
                    'language_writing_skills',
                    props.item.japanese_writing_level
                  ).text
                }}</b-list-group-item
              >
              <b-list-group-item
                >{{ $t('global.fields.japanese_writing_level') }} :
                {{
                  attribute('lang.level', props.item.japanese_writing_level)
                    .text
                }}</b-list-group-item
              >
              <b-list-group-item
                >{{ $t('global.fields.mobile_number') }} :
                {{ props.item.mobile }}</b-list-group-item
              >
              <b-list-group-item
                >{{ $t('global.fields.living_country') }} :
                {{
                  attribute('country', props.item.living_country).text
                }}</b-list-group-item
              >
              <b-list-group-item
                >{{ $t('global.fields.gender') }} :
                {{
                  attribute('gender', props.item.gender).text
                }}</b-list-group-item
              >
              <b-list-group-item>
                {{ $t('global.fields.skill') }} :
                <span v-if="props.item.seeker_skills.length > 0">
                  <span
                    v-for="(item, key) in props.item.seeker_skills"
                    :key="key"
                  >
                    {{ attribute(item.skill_type, item.skill_id).text }} :
                    <span>{{ attribute('skills.level', item.level).text }}</span
                    ><br />
                  </span>
                </span>
              </b-list-group-item>
            </b-list-group>
          </b-col>
        </b-row>
      </template>
    </b-table>
    <Pagination ref="pagination" :meta="meta" page="job.list" />
  </section>
</template>

<script>
import nuxtend from 'nuxtend'
import _ from 'lodash'
import list from '~/mixins/list'
import Pagination from '~/components/Navigation/Pagination'
import Multiselect from 'vue-multiselect'
import 'vue-multiselect/dist/vue-multiselect.min.css'

export default nuxtend({
  middleware: 'loggedIn',

  components: {
    Pagination,
    Multiselect
  },
  mixins: [list('admin/seekers')],
  async fetch({ app, store, query }) {
    return Promise.all([
      store.dispatch('attributeAsync', [
        'visa_status',
        'skill_type',
        'employment_type',
        'job_status',
        'admin_job_status'
      ]),
      store.dispatch('attributeAsync', [
        'job_category',
        'system_engineer',
        'others',
        'lang.level',
        'gender'
      ]),
      store.dispatch('attributeAsync', [
        'business_content',
        'prefecture',
        'boolean',
        'country'
      ]),
      store.dispatch('attributeAsync', [
        'annual_salary_range',
        'language_writing_skills',
        'graduation_status'
      ]),
      store.dispatch('attributeAsync', ['skills.level', 'experience_year']),
      await store.dispatch('attributeAsync', [
        'skill.ms_office',
        'skill.programming',
        'skill.database',
        'skill.design'
      ]),
      await store.dispatch('attributeAsync', [
        'skill.operating_system',
        'skill.middleware',
        'skill.framework'
      ])
    ])
  },
  data() {
    return {
      headers: [
        {
          key: 'seeker_identifier_id',
          label: this.$t('global.fields.identifier_id'),
          sortable: true
        },
        {
          key: 'full_name',
          label: this.$t('global.fields.full_name'),
          sortable: true
        },
        {
          key: 'katakana_full_name',
          label: this.$t('global.fields.katakana_full_name'),
          sortable: true
        },
        { key: 'email', label: this.$t('global.fields.email'), sortable: true },
        {
          key: 'created_at',
          label: this.$t('global.fields.registrationDate'),
          sortable: true
        },
        {
          key: 'actions',
          label: this.$t('global.fields.actions'),
          sortable: false
        }
      ],
      meta: {
        total: 0
      },
      multiple: true,
      skills: [],
      searchParameters: {
        skills: null,
        annual_salary: null,
        telephone: null,
        graduation_status: null,
        created_at: null,
        mobile: null,
        japanese_writing_level: null,
        dob: null,
        visa_issue_date: null,
        visa_status: null,
        country: null,
        living_country: null,
        seeker_identifier_id: null,
        full_name: null,
        katakana_full_name: null,
        verified: null,
        email: null,
        is_experienced: null,
        japanese_language_level: null,
        english_language_level: null,
        gender: null,
        user_type: 'seeker',
        page: 1,
        limit: 10,
        direction: 'asc',
        orderby: 'created_at'
      },
      sortOrder: false,
      isBusy: false
    }
  },
  computed: {
    arrangedSource: function() {
      return _.spread(_.union)(this.attribute('skill'))
    }
  },
  methods: {
    handleShowDetails() {},
    getItems(ctx, callback) {
      if (this.skills.length > 0) {
        const modifySkills = []
        _.each(this.skills, function(field, key) {
          const singleSkill = {}
          singleSkill.skill_type = field.group_name
          singleSkill.skill_id = field.value
          modifySkills.push(JSON.stringify(singleSkill))
        })
        this.searchParameters.skills = modifySkills.join('//')
      }
      this.getTableData(ctx, callback, this.searchParameters)
      this.searchParameters.skills = null
    }
  }
})
</script>

<style scoped>
.mx-datepicker {
  display: block !important;
}
.reset {
  word-break: keep-all;
}
</style>
