<template>
  <section>
    <div class="shadow p-2">
      <b-form @submit.prevent="updateAdminUser">
        <b-form-group
          id="fullName"
          :label="this.$t('global.fields.full_name')"
          label-for="full_name"
          label-class="required"
        >
          <b-form-input
            id="fullName"
            v-model="dataForm.full_name"
            v-validate="'required'"
            :data-vv-as="this.$t('global.fields.full_name')"
            data-vv-name="full_name"
          />
        </b-form-group>
        <div class="error">
          <span>{{ errors.first('full_name') }}</span>
        </div>
        <b-form-group
          id="katakana_fullName"
          :label="this.$t('global.fields.katakana_full_name')"
          label-for="katakana_full_name"
          label-class="required"
        >
          <b-form-input
            id="katakana_fullName"
            v-model="dataForm.katakana_full_name"
            v-validate="'required|katakana'"
            :data-vv-as="this.$t('global.fields.katakana_full_name')"
            data-vv-name="katakana_full_name"
          />
        </b-form-group>
        <div class="error">
          <span>{{ errors.first('katakana_full_name') }}</span>
        </div>

        <b-form-group :label="this.$t('global.fields.change_password')">
          <b-form-checkbox
            id="changePassword"
            v-model="dataForm.change_password"
            value="true"
            unchecked-value="false"
          />
        </b-form-group>

        <div v-if="dataForm.change_password == 'true'">
          <b-form-group
            id="password"
            :label="this.$t('global.fields.new_password')"
            label-for="password"
            label-class="required"
          >
            <b-form-input
              id="password"
              ref="password"
              v-model="dataForm.password"
              v-validate="'required|verify_password|min:8|max:15'"
              :data-vv-as="this.$t('global.fields.password')"
              type="password"
              name="password"
              data-vv-name="password"
            />
          </b-form-group>
          <div class="error">
            <span>{{ errors.first('password') }}</span>
          </div>
          <b-form-group
            id="password_confirmation"
            :label="this.$t('global.fields.re_new_password')"
            label-for="password_confirmation"
            label-class="required"
          >
            <b-form-input
              id="password_confirmation"
              v-model="dataForm.password_confirmation"
              v-validate="'required|confirmed:password'"
              :data-vv-as="this.$t('global.fields.re_new_password')"
              type="password"
              name="password_confirmation"
              data-vv-name="password_confirmation"
            />
          </b-form-group>
          <div class="error">
            <span>{{ errors.first('password_confirmation') }}</span>
          </div>
        </div>
        <div class="d-flex justify-content-center mt-3">
          <b-button
            :disabled="valid"
            size="md"
            type="submit"
            variant="outline-info"
          >
            <font-awesome-icon
              v-if="valid"
              :icon="['fas', 'spinner']"
              :style="{ color: '#27B6C5' }"
            />
            {{ this.$t('global.buttons.submit') }}</b-button
          >
        </div>
      </b-form>
    </div>
  </section>
</template>

<script>
import _ from 'lodash'
import nuxtend from 'nuxtend'
import base from '~/mixins/base'

export default nuxtend({
  middleware: 'loggedIn',
  data() {
    return {
      id: this.$store.getters.loggedInUser.id,
      valid: false,
      dataForm: {
        full_name: this.$store.getters.loggedInUser.full_name,
        katakana_full_name: this.$store.getters.loggedInUser.katakana_full_name,
        change_password: false,
        password: null,
        password_confirmation: null
      }
    }
  },
  mixins: [base()],

  fetch({ app, store }) {
    return Promise.all([
      // await store.dispatch('users/getSeekerProfileInfo', store.getters.loggedInUser.user_type_id),
    ])
  },

  methods: {
    updateAdminUser() {
      this.$toast.clear()
      this.$validator.validateAll().then(result => {
        if (result) {
          this.valid = true
          if (
            this.dataForm.change_password === 'false' ||
            this.dataForm.change_password === false
          ) {
            delete this.dataForm.password
            delete this.dataForm.password_confirmation
          }
          this.$store
            .dispatch('users/updateBasicProfile', {
              id: this.id,
              data: this.dataForm
            })
            .then(response => {
              this.$toast.show(response.data.message, {
                icon: 'check',
                type: 'success'
              })
              window.location.reload(true)
            })
            .catch(err => {
              this.$toast.show(err.response.data.message, {
                icon: 'close',
                type: 'error'
              })
              const errs = []
              _.each(err.response.data.errors, function(messages, field) {
                errs.push(
                  _.merge(
                    {},
                    {
                      field: field,
                      msg: messages[0]
                    }
                  )
                )
              })
              if (errs.length > 0) {
                this.errors.add(errs)
              }
              this.valid = false
            })
        }
      })
    }
  }
})
</script>
<style scoped>
section {
  text-align: left !important;
}
</style>
