<template>
  <div class="text-center">
    <div class="mt-0">
      {{ title }}
    </div>
    <p class="mt-4 message">
      {{ message }}
    </p>
    <p style="margin-top: 10px;">
      <button :style="style_ok" type="button" class="btn btn-info" @click="ok">
        {{ option_ok }}
      </button>
      <button :style="style_no" type="button" class="btn btn-info" @click="no">
        {{ option_no }}
      </button>
    </p>
  </div>
</template>
<script>
export default {
  props: {
    params: {
      type: Object,
      default: function() {
        return {}
      }
    }
  },
  data() {
    return {
      message: this.params.message,
      title: this.params.title,
      option_ok: this.params.option_ok,
      option_no: this.params.option_no,
      style_no: this.params.style_no,
      style_ok: this.params.style_ok
    }
  },
  methods: {
    ok() {
      // close current modal dialog and return data
      this.$emit('close', { accept: true })
    },
    no() {
      this.$emit('close', { accept: false })
    }
  }
}
</script>
<style scoped>
.message {
  text-align: center;
  text-emphasis-position: left;
  padding-left: 10px;
  padding-right: 10px;
}
</style>
