<template>
  <section v-if="meta.total > 10">
    <b-row class="mx-auto">
      <b-col class="col-md-12">
        <nav>
          <ul class="pagination justify-content-end">
            <li
              :class="{
                'page-item': true,
                disabled: meta.current_page == 1 ? true : false
              }"
              @click="pagechanged(1)"
            >
              <a class="page-link" @click.prevent>First</a>
            </li>
            <li v-if="meta.current_page > 3" class="page-item disabled">
              <a class="page-link">...</a>
            </li>
            <template v-for="n in meta.last_page">
              <li
                v-if="n >= meta.current_page - 2 && n <= meta.current_page + 2"
                :key="n"
                :class="{
                  'page-item': true,
                  active: meta.current_page == n ? true : false
                }"
                @click="pagechanged(n)"
              >
                <a class="page-link" @click.prevent>{{ n }}</a>
              </li>
            </template>
            <li
              v-if="meta.current_page < meta.last_page - 2"
              class="page-item disabled"
            >
              <a class="page-link">...</a>
            </li>
            <li
              :class="{
                'page-item': true,
                disabled: meta.current_page == meta.last_page ? true : false
              }"
              @click="pagechanged(meta.last_page)"
            >
              <a class="page-link" @click.prevent>Last</a>
            </li>
          </ul>
        </nav>
      </b-col>
    </b-row>
  </section>
</template>

<script>
import nuxtend from 'nuxtend'
import base from '~/mixins/base'
export default nuxtend({
  props: {
    page: {
      type: String,
      default: function() {
        return ''
      }
    },
    meta: {
      type: Object,
      default: function() {
        return {}
      }
    }
  },
  data() {
    return {
      current_page: 1
    }
  },
  mixins: [base()],
  methods: {
    pagechanged(page) {
      this.$parent.searchParameters.page = page
    }
  }
})
</script>

<style scoped>
a:hover {
  background-color: #007bff;
}
</style>
