<template>
  <section class="header">
    <b-row>
      <b-col class="col-md-6 col-sm-12 col-12">
        <div class="float-left">
          <div class="logo">
            <img src="~/assets/images/logo.png" class="w-50" alt="" />
            <span class="align-bottom slogan">{{
              this.$t('global.slogan')
            }}</span>
          </div>
        </div>
      </b-col>
      <b-col class="col-md-6 col-sm-12 col-12">
        <div class="float-right">
          <ul class="nav">
            <li
              v-for="(item, key) in language"
              :key="key"
              :class="{
                lang_en: item.name == 'en' ? true : false,
                lang_ja: item.name == 'ja' ? true : false,
                'nav-item': true
              }"
            >
              <a
                :class="{
                  'nav-link': true
                }"
                @click="changeLocale(item.name)"
              />
            </li>
          </ul>
        </div>
      </b-col>
    </b-row>
    <b-row v-if="layout == 'default'" class="mt-2">
      <b-col>
        <b-navbar fixed-top toggleable="md">
          <b-navbar-toggle target="nav_collapse" />
          <b-collapse id="nav_collapse" is-nav>
            <b-navbar-nav>
              <b-nav-item
                v-for="(item, key) in userMenuItems"
                :key="key"
                @click="$router.push({ path: $i18n.path(item.path) })"
              >
                {{ item.text }}
              </b-nav-item>
            </b-navbar-nav>
            <b-navbar-nav v-if="!isAuthenticated" class="ml-auto">
              <b-nav-item
                v-for="(item, key) in guestMenuItems"
                :key="key"
                depressed
                @click="$router.push({ path: $i18n.path(item.path) })"
              >
                {{ item.text }}
              </b-nav-item>
            </b-navbar-nav>
            <b-navbar-nav v-else class="ml-auto">
              <b-nav-item-dropdown
                :text="
                  loggedInUser.full_name != '' &&
                  loggedInUser.katakana_full_name != ''
                    ? $store.getters.locale == 'en'
                      ? loggedInUser.full_name
                      : loggedInUser.katakana_full_name
                    : loggedInUser.email
                "
                right
              >
                <b-dropdown-item
                  @click="
                    $router.push({
                      path: $i18n.path('/profile/' + `${loggedInUser.id}`)
                    })
                  "
                  >Profile</b-dropdown-item
                >
                <b-dropdown-item @click="logOut()">Logout</b-dropdown-item>
              </b-nav-item-dropdown>
              <b-nav-item>
                <Bell />
              </b-nav-item>
            </b-navbar-nav>
          </b-collapse>
        </b-navbar>
      </b-col>
    </b-row>
    <transition name="slide-fade">
      <Notifications v-if="notification_drawer" />
    </transition>
  </section>
</template>
<script>
import { mapGetters } from 'vuex'
import Bell from '~/components/Navigation/Notification/Bell'
import Notifications from '~/components/Navigation/Notification/Notifications'
import base from '~/mixins/base'

export default {
  components: {
    Bell,
    Notifications
  },
  mixins: [base()],
  props: {
    layout: {
      type: String,
      default: function() {
        return 'default'
      }
    }
  },
  computed: {
    ...mapGetters(['isAuthenticated', 'loggedInUser', 'notification_drawer'])
  },
  watch: {
    loggedInUser: function() {
      if (this.loggedInUser) {
        this.$echo.connector.options.auth.headers.Authorization = this.$auth.getToken(
          'local'
        )
        this.$echo
          .private(`App.Models.User.` + this.$store.getters.loggedInUser.id)
          .notification(notification => {
            this.$toast.clear()
            this.$store.dispatch('getNotifications')
            if (this.$store.getters.locale === 'en')
              this.$toast.show(notification.message_en, {
                icon: 'history',
                type: 'success'
              })
            else
              this.$toast.show(notification.message_ja, {
                icon: 'history',
                type: 'success'
              })
          })
        window.localStorage.setItem(
          'authenticated_id',
          this.$store.getters.loggedInUser.id
        )
      } else {
        this.$echo.leave(
          `App.Models.User.` + window.localStorage.getItem('authenticated_id')
        )
      }
    }
  },
  created() {
    this.guestMenuItems = [{ text: this.$t('global.links.login'), path: '/' }]
    this.userMenuItems = [
      { text: this.$t('global.links.dashboard'), path: '/dashboard' },
      { text: this.$t('global.links.jobs'), path: '/jobs' },
      { text: this.$t('global.links.users'), path: '/users' },
      { text: this.$t('global.links.providers'), path: '/companies' },
      { text: this.$t('global.links.admin'), path: '/admin' },
      { text: this.$t('global.links.contact'), path: '/contact' }
    ]
    this.locales = { ja: '日本語', en: 'english' }
    this.locale = 'en'
    this.language = [
      {
        locale: '日本語',
        name: 'ja',
        icon: 'play_for_work',
        src: '..assets/images/JOBBANK_logo1.png'
      },
      {
        locale: 'English',
        name: 'en',
        icon: 'attach_money',
        src: '..assets/images/JOBBANK_logo1.png'
      }
    ]
  },
  mounted() {
    if (this.loggedInUser) {
      this.$echo.connector.options.auth.headers.Authorization = this.$auth.getToken(
        'local'
      )
      this.$echo
        .private(`App.Models.User.` + this.$store.getters.loggedInUser.id)
        .notification(notification => {
          this.$toast.clear()
          this.$store.dispatch('getNotifications')
          if (this.$store.getters.locale === 'en')
            this.$toast.show(notification.message_en, {
              icon: 'history',
              type: 'success'
            })
          else
            this.$toast.show(notification.message_ja, {
              icon: 'history',
              type: 'success'
            })
        })
    } else {
      this.$echo.leave(
        `App.Models.User.` + window.localStorage.getItem('authenticated_id')
      )
    }
  },
  methods: {
    changeLocale(locale) {
      location.href = this.$i18n.path(null, locale)
      this.locale = locale
    },
    async logOut() {
      await this.$auth.logout()
      this.showHideNoti()
      this.$router.push(this.$i18n.path('/'))
    }
  }
}
</script>

<style scoped>
.header {
  border-bottom: 1px solid #254260;
}
.slogan {
  font-size: 16px;
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transform: translateX(98%);
  -webkit-transform: translateX(98%);
}
.slide-fade-enter, .slide-fade-leave-to
    /* .slide-fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.lang_en {
  background: url('~assets/images/us.svg') no-repeat;
}
.lang_ja {
  background: url('~assets/images/jp.svg') no-repeat;
}
</style>
