/* Define an animation behavior */
@keyframes spinner {
  to { transform: rotate(360deg); }
}
/* This is the class name given by the Font Awesome component when icon contains 'spinner' */
.fa-spinner {
  /* Apply 'spinner' keyframes looping once every second (1s)  */
  animation: spinner 1s linear infinite;
}

/*
Date time picker css
 */
.theme-datetime .vdatetime-popup__header,
.theme-datetime .vdatetime-calendar__month__day--selected > span > span,
.theme-datetime .vdatetime-calendar__month__day--selected:hover > span > span {
  background: #27B6C5;
}

.theme-datetime .vdatetime-year-picker__item--selected,
.theme-datetime .vdatetime-time-picker__item--selected,
.theme-datetime .vdatetime-popup__actions__button {
  color: #27B6C5;
}

body{
  font-family: Garamond;
  font-size: 18px;
  background-color: #FFFEFD;
}

a{
  cursor: pointer;
  color: #000;
}
/* Transitions using the page hook */
.page-enter-active, .page-leave-active {
  transition: all .30s ease-out;
}
.page-enter, .page-leave-active {
  opacity: 0;
  transform-origin: 50% 50%;
}

.breadcrumb{
  background-color: #ffffff;
}
.error{
  font-size: 14px;
  color: red;
}

label.required::after{
  content: ' *';
  color: red;
}


section{
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.register-section{
  font-size: 15px;
  background-color: #27B6C5;
  color: #ffffff;
}

.register-section a{
  color: #ffffff;
  text-decoration: underline;
}




h2 {
  font-weight: 400;
  display: inline-block;
  color: #0d587be0;
}

h2:after {
  content: '';
  background: #56a2c2;
  width: 100%;
  height: 5px;
  display: block;
}
.joblist{
  text-align: center;
}


.boxer{
  border-left: 3px solid aqua;
  border-right: 3px solid aqua;
  border-bottom: 3px solid aqua;
  margin-bottom: 5px;
}

