<template>
  <div>
    <b-col class="col-md-12 border p-3">
      <b-form>
        <b-form-group
          id="status"
          :label="$t('global.fields.admin_job_status')"
          label-for="status_id"
          label-class="required"
        >
          <b-select
            id="status_id"
            v-model="form.admin_status"
            :value="null"
            :options="attribute('admin_job_status')"
            :disabled="admin_old_status == 0 || admin_old_status == 2"
            data-vv-name="status"
            class="mb-2 mr-sm-2 mb-sm-0"
            ><option slot="first" :value="null">{{
              $t('global.fields.admin_job_status')
            }}</option>
          </b-select>
          <span>{{ errors.first('status') }}</span>
        </b-form-group>
        <b-form-group
          v-show="admin_old_status == 2"
          id="descjapanesegroup"
          :label="$t('global.fields.comment')"
          label-for="comment"
          label-class="required"
        >
          <b-textarea
            id="descjapanese"
            v-model="form.last_comment"
            :rows="6"
            disabled
            data-vv-name="comment"
          />
        </b-form-group>

        <b-form-group
          v-if="form.admin_status == 2 && admin_old_status != 2"
          id="descjapanesegroup"
          :label="$t('global.fields.comment')"
          label-for="comment"
          label-class="required"
        >
          <b-textarea
            id="descjapanese"
            v-model="comment"
            v-validate="form.admin_status == 2 ? 'required|max:500' : ''"
            :rows="6"
            :disabled="admin_old_status == 0 || admin_old_status == 2"
            :data-vv-as="$t('global.fields.comment')"
            data-vv-name="comment"
          />
          <span> {{ errors.first('comment') }} </span>
          <b-form-text v-show="!errors.has('comment')" id="inputLiveHelp">
            {{ $t('global.messages.comment') }}
          </b-form-text>
        </b-form-group>

        <b-form-group
          id="employmenttypegroup"
          :label="$t('global.fields.employment_types')"
          label-for="employment_type"
          label-class="required"
        >
          <b-form-radio-group
            id="employmenttypegroup"
            v-model="form.employment_type"
            :options="attribute('employment_type')"
            :disabled="admin_old_status == 0 || admin_old_status == 2"
            :data-vv-as="$t('global.fields.employment_types')"
            data-vv-name="employment_types"
          />
          <span>{{ errors.first('employment_types') }}</span>
        </b-form-group>

        <b-form-group
          v-show="form.employment_type != null && form.employment_type != 0"
          id="timeperiod_group"
          :label="$t('global.fields.timeperiod')"
          label-for="timeperiod"
          label-class="required"
        >
          <b-form-select
            id="timeperiod"
            v-model="form.time_period"
            v-validate="
              form.employment_type != null && form.employment_type != 0
                ? 'required'
                : ''
            "
            :value="null"
            :options="attribute('time_period')"
            :disabled="admin_old_status == 0 || admin_old_status == 2"
            :data-vv-as="$t('global.fields.time_period')"
            class="mb-2 mr-sm-2 mb-sm-0"
            data-vv-name="time_period"
          >
            <option slot="first" :value="null">{{
              $t('global.fields.please_select_timeperiod')
            }}</option>
          </b-form-select>
          <span>{{ errors.first('time_period') }}</span>
        </b-form-group>

        <b-form-group
          id="jobcategorygroup"
          :label="$t('global.fields.category_id')"
          label-for="jobcategory"
          label-class="required"
        >
          <b-form-select
            v-model="form.category_id"
            v-validate="'required'"
            :value="null"
            :options="attribute('job_category')"
            :data-vv-as="$t('global.fields.category_id')"
            :disabled="admin_old_status == 0 || admin_old_status == 2"
            class="mb-2 mr-sm-2 mb-sm-0"
            data-vv-name="category_id"
            @change="getSubCategory"
          >
            <option slot="first" :value="null">{{
              $t('global.fields.please_select_job_category')
            }}</option>
          </b-form-select>
          <span>{{ errors.first('category_id') }}</span>
        </b-form-group>
        <!--sub category -->

        <b-form-group
          v-show="form.category_id !== null"
          id="subCategoryGroup"
          :label="$t('global.fields.sub_category')"
          label-for="sub_category"
          label-class="required"
        >
          <b-select
            id="sub_category"
            v-model="form.sub_category_id"
            v-validate="'required'"
            :disabled="admin_old_status == 0 || admin_old_status == 2"
            :options="subcategory"
            :data-vv-as="$t('global.fields.sub_category')"
            data-vv-name="sub_category"
          >
            <option slot="first" :value="null">{{
              $t('global.fields.please_select_job_category')
            }}</option>
          </b-select>
        </b-form-group>
        <b-form-group
          id="salarytypegroups"
          :label="$t('global.fields.salary_type')"
          label-for="salarytypegroup"
          label-class="required"
        >
          <b-form-radio-group
            id="salarytypegroup"
            v-model="form.salary_type"
            v-validate="'required'"
            :options="attribute('salary_type')"
            :disabled="admin_old_status == 0 || admin_old_status == 2"
            :data-vv-as="$t('global.fields.salary_type')"
            data-vv-name="salary_type"
          />
          <span> {{ errors.first('salary_type') }} </span>
        </b-form-group>
        <b-row>
          <b-col>
            <b-form-group>
              <b-form-input
                id="minsalary"
                v-model="form.min_salary"
                v-validate="
                  'required|number_with_start_non_zero|romanji_number_only'
                "
                :disabled="admin_old_status == 0 || admin_old_status == 2"
                :placeholder="$t('global.placeholder.salary_min')"
                :data-vv-as="$t('global.fields.min_salary')"
                data-vv-name="min_salary"
              />
              <span> {{ errors.first('min_salary') }} </span>
            </b-form-group>
          </b-col>
          ~
          <b-col>
            <b-form-group>
              <b-form-input
                id="maxsalary"
                v-model="form.max_salary"
                v-validate="
                  'required|number_with_start_non_zero|romanji_number_only'
                "
                :disabled="admin_old_status == 0 || admin_old_status == 2"
                :placeholder="$t('global.placeholder.salary_max')"
                :data-vv-as="$t('global.fields.max_salary')"
                data-vv-name="max_salary"
              />
              <span> {{ errors.first('max_salary') }} </span>
            </b-form-group>
          </b-col>
        </b-row>

        <b-row>
          <b-col>
            <b-form-group
              :label="$t('global.fields.english_language_level')"
              label-for="english_language_level"
              label-class="required"
            >
              <b-select
                id="english_language_level"
                v-model="form.english_lang_level"
                v-validate="'required'"
                :options="attribute('lang.level')"
                :disabled="admin_old_status == 0 || admin_old_status == 2"
                :data-vv-as="$t('global.fields.english_lang_level')"
                :data-vv-name="'english_lang_level'"
              >
                <option slot="first" :value="null">{{
                  $t('global.placeholder.please_select_english_language_level')
                }}</option>
              </b-select>
              <span>{{ errors.first('english_lang_level') }}</span>
            </b-form-group>
          </b-col>
          <b-col>
            <b-form-group
              :label="$t('global.fields.japanese_language_level')"
              label-for="japanese_language_level"
              label-class="required"
            >
              <b-select
                id="japanese_language_level"
                v-model="form.japanese_lang_level"
                v-validate="'required'"
                :options="attribute('lang.level')"
                :disabled="admin_old_status == 0 || admin_old_status == 2"
                :data-vv-as="$t('global.fields.japanese_lang_level')"
                :data-vv-name="'japanese_lang_level'"
              >
                <option slot="first" :value="null">{{
                  $t('global.placeholder.please_select_japanese_language_level')
                }}</option>
              </b-select>
              <span>{{ errors.first('japanese_lang_level') }}</span>
            </b-form-group>
          </b-col>
        </b-row>

        <b-form-group
          id="japaneseTitleGroup"
          :label="$t('global.fields.title_ja')"
          label-for="japaneseTitle"
          label-class="required"
        >
          <b-form-input
            id="japaneseTitle"
            v-model="form.job_title.ja"
            v-validate="'required|max:100'"
            :disabled="admin_old_status == 0 || admin_old_status == 2"
            :data-vv-as="$t('global.fields.title_ja')"
            data-vv-name="title_ja"
          />
          <span>{{ errors.first('title_ja') }}</span>
          <b-form-text v-show="!errors.has('title_ja')" id="inputLiveHelp">
            {{
              $t('global.fields.title_ja') +
                $t('global.messages.text_limit_100')
            }}
          </b-form-text>
        </b-form-group>
        <b-form-group
          id="descjapanesegroup"
          :label="$t('global.fields.description_ja')"
          label-for="descJapanese"
          label-class="required"
        >
          <b-textarea
            id="descjapanese"
            v-model="form.description.ja"
            v-validate="'required|max:5000'"
            :rows="6"
            :disabled="admin_old_status == 0 || admin_old_status == 2"
            :data-vv-as="$t('global.fields.description_ja')"
            data-vv-name="description_ja"
          />
          <span> {{ errors.first('description_ja') }} </span>
          <b-form-text
            v-show="!errors.has('description_ja')"
            id="inputLiveHelp"
          >
            {{
              $t('global.fields.description_ja') +
                $t('global.messages.text_limit_5000')
            }}
          </b-form-text>
        </b-form-group>
        <b-form-group
          id="qua_ja_group"
          :label="$t('global.fields.qualification_required_ja')"
          label-for="qua_ja"
          label-class="required"
        >
          <b-textarea
            id="qua_ja"
            v-model="form.qualifications.ja"
            v-validate="'required|max:5000'"
            :rows="6"
            :disabled="admin_old_status == 0 || admin_old_status == 2"
            :data-vv-as="$t('global.fields.qualification_required_ja')"
            data-vv-name="qualifications_ja"
          />
          <span> {{ errors.first('qualifications_ja') }} </span>
          <b-form-text
            v-show="!errors.has('qualifications_ja')"
            id="inputLiveHelp"
          >
            {{
              $t('global.fields.qualifications_ja') +
                $t('global.messages.text_limit_5000')
            }}
          </b-form-text>
        </b-form-group>
        <b-form-group
          id="welfare_ja_group"
          :label="$t('global.fields.welfare_ja')"
          label-for="welfare_ja"
          label-class="required"
        >
          <b-textarea
            id="welfare_ja"
            v-model="form.welfare.ja"
            v-validate="'required|max:5000'"
            :rows="6"
            :disabled="admin_old_status == 0 || admin_old_status == 2"
            :data-vv-as="$t('global.fields.welfare_ja')"
            data-vv-name="welfare_ja"
          />
          <span variant="danger"> {{ errors.first('welfare_ja') }} </span>
          <b-form-text id="inputLiveHelp">
            {{
              $t('global.fields.welfare_ja') +
                $t('global.messages.text_limit_5000')
            }}
          </b-form-text>
        </b-form-group>
        <b-form-group
          id="lang_trsnslation"
          :label="$t('global.fields.language_translation')"
          label-for="translationoption"
          label-class="required"
        >
          <b-form-radio-group
            id="translationoption"
            v-model="form.language_translation"
            :options="attribute('job_translation')"
            :data-vv-as="$t('global.fields.language_translation')"
            disabled
            name="select_type"
            data-vv-name="language_translation"
          />
          <span> {{ errors.first('language_translation') }} </span>
        </b-form-group>
        <b-form-group
          id="japanesetitlegroup"
          :label="$t('global.fields.title_en')"
          :label-class="form.admin_status == 0 ? 'required' : ''"
          label-for="englishTitle"
        >
          <b-form-input
            id="englishTitle"
            v-model="form.job_title.en"
            v-validate="form.admin_status == 0 ? 'required|max:100' : ''"
            :disabled="admin_old_status == 0 || admin_old_status == 2"
            :data-vv-as="$t('global.fields.title_en')"
            data-vv-name="title_en"
          />
          <span>{{ errors.first('title_en') }}</span>
          <b-form-text id="inputLiveHelp">
            {{
              $t('global.fields.title_en') +
                $t('global.messages.text_limit_100')
            }}
          </b-form-text>
        </b-form-group>
        <b-form-group
          id="desceng"
          :label="$t('global.fields.description_en')"
          :label-class="form.admin_status == 0 ? 'required' : ''"
          label-for="description_en"
        >
          <b-textarea
            id="description_en"
            v-model="form.description.en"
            v-validate="form.admin_status == 0 ? 'required|max:5000' : ''"
            :rows="6"
            :disabled="admin_old_status == 0 || admin_old_status == 2"
            :data-vv-as="$t('global.fields.description_en')"
            data-vv-name="description_en"
          />
          <span> {{ errors.first('description_en') }} </span>
          <b-form-text
            v-show="!errors.has('description_en')"
            id="inputLiveHelp"
          >
            {{
              $t('global.fields.description_en') +
                $t('global.messages.text_limit_5000')
            }}
          </b-form-text>
        </b-form-group>
        <b-form-group
          id="qua_en_group"
          :label="$t('global.fields.qualification_required_en')"
          :label-class="form.admin_status == 0 ? 'required' : ''"
          label-for="qua_en"
        >
          <b-textarea
            id="qua_en"
            v-model="form.qualifications.en"
            v-validate="form.admin_status == 0 ? 'required|max:5000' : ''"
            :rows="6"
            :disabled="admin_old_status == 0 || admin_old_status == 2"
            :data-vv-as="$t('global.fields.qualification_required_en')"
            data-vv-name="qualifications_en"
          />
          <span> {{ errors.first('qualifications_en') }}</span>
          <b-form-text
            v-show="!errors.has('qualifications_en')"
            id="inputLiveHelp"
          >
            {{
              $t('global.fields.qualifications_en') +
                $t('global.messages.text_limit_5000')
            }}
          </b-form-text>
        </b-form-group>
        <b-form-group
          id="welfare_en_group"
          :label="$t('global.fields.welfare_en')"
          :label-class="form.admin_status == 0 ? 'required' : ''"
          label-for="welfare_en"
        >
          <b-textarea
            id="welfare_en"
            v-model="form.welfare.en"
            v-validate="form.admin_status == 0 ? 'required|max:5000' : ''"
            :rows="6"
            :disabled="admin_old_status == 0 || admin_old_status == 2"
            :data-vv-as="$t('global.fields.welfare_en')"
            data-vv-name="welfare_en"
          />
          <span variant="danger"> {{ errors.first('welfare_en') }} </span>
          <b-form-text v-show="!errors.has('welfare_en')" id="inputLiveHelp">
            {{
              $t('global.fields.welfare_en') +
                $t('global.messages.text_limit_5000')
            }}
          </b-form-text>
        </b-form-group>

        <b-form-group
          id="timeGroup"
          :label="$t('global.fields.working_hr')"
          label-for="timeGroup"
          label-class="required"
        >
          <b-row>
            <b-col cols="4">
              <b-form-group
                id="status"
                :label="$t('global.fields.form.working_hour_from')"
                label-for="working_hour_from"
                label-class="required"
              >
                <b-select
                  id="status_id"
                  v-model="form.working_hour_from"
                  :disabled="admin_old_status == 0 || admin_old_status == 2"
                  :options="attribute('work_time')"
                  data-vv-name="working_hour_from"
                  class="mb-2 mr-sm-2 mb-sm-0"
                >
                  <option slot="first" :value="null">{{
                    $t('global.fields.working_hour_from')
                  }}</option>
                </b-select>
                <span>{{ errors.first('working_hour_from') }}</span>
              </b-form-group>
            </b-col>
            <b-col cols="4">
              <b-form-group
                id="status"
                :label="$t('global.fields.form.working_hour_to')"
                label-for="working_hour_to"
                label-class="required"
              >
                <b-select
                  id="status_id"
                  v-model="form.working_hour_to"
                  :disabled="admin_old_status == 0 || admin_old_status == 2"
                  :options="attribute('work_time')"
                  data-vv-name="working_hour_to"
                  class="mb-2 mr-sm-2 mb-sm-0"
                >
                  <option slot="first" :value="null">{{
                    $t('global.fields.working_hour_to')
                  }}</option>
                </b-select>
                <span>{{ errors.first('working_hour_to') }}</span>
              </b-form-group>
            </b-col>
            <b-col cols="4" class="mt-4">
              <b-form-checkbox
                id="checkbox1"
                v-model="form.night_shift"
                :disabled="admin_old_status == 0 || admin_old_status == 2"
                stacked
                value="1"
                unchecked-value="0"
              >
                {{ $t('global.fields.night_shift') }}
              </b-form-checkbox>
              <b-form-checkbox
                id="checkbox2"
                v-model="form.morning_shift"
                :disabled="admin_old_status == 0 || admin_old_status == 2"
                stacked
                value="1"
                unchecked-value="0"
              >
                {{ $t('global.fields.morning_shift') }}
              </b-form-checkbox>
              <span>{{ errors.first('morning_shift') }}</span>
              <span>{{ errors.first('morning_shift') }}</span>
            </b-col>
          </b-row>
        </b-form-group>

        <b-form-group
          id="holidaysgroup"
          :label="$t('global.fields.holiday')"
          label-for="holidaygroup"
          label-class="required"
        >
          <b-row>
            <b-col>
              <b-form-radio-group
                id="holidaygroup"
                v-model="form.holiday"
                v-validate="'required'"
                :options="attribute('holiday')"
                :disabled="admin_old_status == 0 || admin_old_status == 2"
                :data-vv-as="$t('global.fields.holiday')"
                data-vv-name="holiday"
              />
              <span> {{ errors.first('holiday') }}</span>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-form-checkbox-group
                id="holiday_days_check"
                v-model="form.holiday_days"
                :options="attribute('week.days')"
                :disabled="admin_old_status == 0 || admin_old_status == 2"
                class="mt-2"
                data-vv-name="holiday_days"
              />
              <span> {{ errors.first('holiday_days') }} </span>
            </b-col>
          </b-row>
        </b-form-group>
        <!--&lt;!&ndash;working locations &ndash;&gt;-->
        <b-form-group
          v-for="(item, key) in form.addresses"
          :key="key"
          style="border: 0;"
          class="mt-3"
        >
          <b-row class="float-right">
            <b-form-group v-show="admin_old_status == 1">
              <span
                v-show="form.addresses.length > 1 && admin_old_status != 0"
                class="pr-2"
                @click="handleRemoveWorkLocation(key)"
              >
                <font-awesome-icon
                  :icon="['fas', 'window-close']"
                  :style="{ color: 'red' }"
                  size="1x"
                />
              </span>
            </b-form-group>
          </b-row>
          <b-form-group :label="$t('global.fields.addresses')">
            <b-row>
              <b-col cols="7">
                <label
                  id="zip_codeGroup"
                  label-for="zipcodeGroup"
                  class="required"
                  >{{ $t('global.fields.zip_code') }}</label
                ><br />
                <b-input-group>
                  <b-form-input
                    v-model="form.addresses[key].zip_code"
                    v-validate="
                      'required|romanji_number_only|length:7|max:7|excluded:0000000'
                    "
                    :placeholder="$t('global.placeholder.enter_without_hyphen')"
                    :data-vv-as="$t('global.fields.zip_code')"
                    :disabled="admin_old_status == 0 || admin_old_status == 2"
                    :data-vv-name="`zip_code_${key}`"
                    @keyup.native="zipChanged(key)"
                  />
                  <b-col cols="3">
                    <b-btn
                      :disabled="
                        !submit_enabled ||
                          errors.has(`zip_code_${key}`) ||
                          form.addresses[key].zip_code === null ||
                          form.addresses[key].zip_code === '' ||
                          admin_old_status == 0 ||
                          admin_old_status == 2
                      "
                      variant="outline-success"
                      @click="
                        handleGetAddress(form.addresses[key].zip_code, key)
                      "
                    >
                      <font-awesome-icon
                        v-if="!submit_enabled"
                        :icon="['fas', 'spinner']"
                        :style="{ color: '#27B6C5' }"
                      />{{ $t('global.buttons.fetch') }}</b-btn
                    >
                  </b-col>
                </b-input-group>
                <span> {{ errors.first(`zip_code_${key}`) }} </span>
              </b-col>
            </b-row>
            <b-form-group
              :label="$t('global.fields.prefecture_id')"
              label-for="prefectureGroup"
              label-class="required"
            >
              <b-select
                id="prefectureGroup"
                v-model="form.addresses[key].prefecture_id"
                v-validate="'required'"
                :disabled="admin_old_status == 0 || admin_old_status == 2"
                :options="attribute('prefecture')"
                :data-vv-as="$t('global.fields.prefecture_id')"
                :data-vv-name="`prefecture_id_${key}`"
                class="mb-2 mr-sm-2 mb-sm-0"
              >
                <option slot="first" :value="null">{{
                  $t('global.placeholder.select_prefecture')
                }}</option>
              </b-select>
              <span>{{ errors.first(`prefecture_id_${key}`) }}</span>
            </b-form-group>
            <b-form-group
              :label="$t('global.fields.address')"
              label-class="required"
              label-for="address"
            >
              <b-input
                v-model="form.addresses[key].address"
                v-validate="'required|max:50'"
                :data-vv-as="$t('global.fields.address')"
                :disabled="admin_old_status == 0 || admin_old_status == 2"
                :data-vv-name="`address_${key}`"
              />
              <span>{{ errors.first(`address_${key}`) }}</span>
            </b-form-group>
            <b-form-group
              id="streetAddressGroup"
              :label="$t('global.fields.street_address_mansion')"
              label-class="required"
              label-for="street_address"
            >
              <b-input
                id="street_address"
                v-model="form.addresses[key].street_address"
                v-validate="'required|max:100'"
                :disabled="admin_old_status == 0 || admin_old_status == 2"
                :data-vv-name="`street_address_${key}`"
                :data-vv-as="$t('global.fields.street_address_mansion')"
              />
              <span>{{ errors.first(`street_address_${key}`) }}</span>
            </b-form-group>
          </b-form-group>
        </b-form-group>
        <b-row>
          <b-col cols="12">
            <div v-show="admin_old_status == 1" class="text-center">
              <span @click="handleAddWorkLocation">
                <font-awesome-icon
                  :icon="['fas', 'plus-circle']"
                  :style="{ color: '#26b7c5' }"
                  size="2x"
                /> </span
              >{{ $t('global.buttons.add_other_location') }}
            </div>
          </b-col>
        </b-row>
        <b-row v-show="form.langs.length == 0" class="mt-4" />
        <b-form-group
          v-for="(item, key) in form.langs"
          :key="`lang-${key}`"
          label-for="languagesgroup"
        >
          <b-row class="float-right">
            <b-form-group v-show="admin_old_status == 1">
              <span
                v-show="form.langs.length == 0 && admin_old_status == 0"
                class="pr-2"
                @click="handleRemoveLanguage(key)"
              >
                <font-awesome-icon
                  :icon="['fas', 'window-close']"
                  :style="{ color: 'red' }"
                  size="1x"
                />
              </span>
            </b-form-group>
          </b-row>
          <b-form-group
            :label="$t('global.fields.lang_req')"
            label-for="languagesgroup"
          >
            <b-select
              id="languagesgroup"
              v-model="form.langs[key].language"
              :options="langAttribute('lang_option')"
              :data-vv-as="$t('global.fields.lang_req')"
              :disabled="admin_old_status == 0 || admin_old_status == 2"
              :data-vv-name="`language_${key}`"
            >
              <option slot="first" :value="null">{{
                $t('global.placeholder.other_lang_req')
              }}</option>
            </b-select>
            <span>{{ errors.first(`language_${key}`) }}</span>
          </b-form-group>
          <b-form-group
            v-show="`form.langs${key}.language` != null"
            :label="$t('global.fields.language_level')"
            label-for="langLevelGroup"
          >
            <b-select
              id="langLevelGroup"
              v-model="form.langs[key].level"
              v-validate.initial="
                form.langs[key].language != null ? 'required' : ''
              "
              :options="attribute('lang.level')"
              :disabled="admin_old_status == 0 || admin_old_status == 2"
              :data-vv-as="$t('global.fields.language_level')"
              :data-vv-name="`level_${key}`"
            >
              <option slot="first" :value="null">{{
                $t('global.placeholder.other_lang_req')
              }}</option>
            </b-select>
            <span>{{ errors.first(`level_${key}`) }}</span>
          </b-form-group>
        </b-form-group>
        <b-row>
          <b-col cols="12">
            <div v-show="admin_old_status == 1" class="text-center">
              <span @click="handleAddReqLang">
                <font-awesome-icon
                  :icon="['fas', 'plus-circle']"
                  :style="{ color: '#26b7c5' }"
                  size="2x"
                /> </span
              >{{
                form.langs.length == 0
                  ? $t('global.buttons.add_req_language')
                  : $t('global.buttons.add_other_lang')
              }}
            </div>
          </b-col>
        </b-row>
        <!--&lt;!&ndash; languge option complete &ndash;&gt;-->
        <b-form-group :label="$t('global.fields.job_feature')">
          <b-row>
            <b-col>
              <b-form-checkbox
                id="visa_support"
                v-model="form.visa_support"
                :disabled="admin_old_status == 0 || admin_old_status == 2"
                value="1"
                unchecked-value="0"
              >
                {{ $t('global.fields.visa_support') }}
              </b-form-checkbox>
              <b-form-checkbox
                id="social_insurance"
                v-model="form.social_insurance"
                :disabled="admin_old_status == 0 || admin_old_status == 2"
                value="1"
                unchecked-value="0"
              >
                {{ $t('global.fields.social_insurance') }}
              </b-form-checkbox>
              <b-form-checkbox
                id="bonus"
                v-model="form.bonus"
                :disabled="admin_old_status == 0 || admin_old_status == 2"
                value="1"
                unchecked-value="0"
              >
                {{ $t('global.fields.bonus') }}
              </b-form-checkbox>
              <b-form-checkbox
                id="clothing_freedom"
                v-model="form.clothing_freedom"
                :disabled="admin_old_status == 0 || admin_old_status == 2"
                value="1"
                unchecked-value="0"
              >
                {{ $t('global.fields.hairstyle_clothing') }}
              </b-form-checkbox>
              <b-form-checkbox
                id="housing_allowance"
                v-model="form.housing_allowance"
                :disabled="admin_old_status == 0 || admin_old_status == 2"
                value="1"
                unchecked-value="0"
              >
                {{ $t('global.fields.housing_allowance') }}
              </b-form-checkbox>
              <b-form-checkbox
                id="short_term"
                v-model="form.short_term"
                :disabled="admin_old_status == 0 || admin_old_status == 2"
                value="1"
                unchecked-value="0"
              >
                {{ $t('global.fields.short_term') }}
              </b-form-checkbox>
              <b-form-checkbox
                id="long_term"
                v-model="form.long_term"
                :disabled="admin_old_status == 0 || admin_old_status == 2"
                value="1"
                unchecked-value="0"
              >
                {{ $t('global.fields.long_term') }}
              </b-form-checkbox>
              <b-form-checkbox
                id="remote"
                v-model="form.remote"
                :disabled="admin_old_status == 0 || admin_old_status == 2"
                value="1"
                unchecked-value="0"
              >
                {{ $t('global.fields.remote') }}
              </b-form-checkbox>
              <b-form-checkbox
                id="company_service"
                v-model="form.company_service"
                :disabled="admin_old_status == 0 || admin_old_status == 2"
                value="1"
                unchecked-value="0"
              >
                {{ $t('global.fields.company_service') }}
              </b-form-checkbox>
              <b-form-checkbox
                id="practical_inexperience"
                v-model="form.practical_experience"
                :disabled="admin_old_status == 0 || admin_old_status == 2"
                value="1"
                unchecked-value="0"
              >
                {{ $t('global.fields.practical_inexperience') }}
              </b-form-checkbox>
              <b-list-group>
                <span>{{ errors.first('visa_support') }}</span>
                <span>{{ errors.first('social_insurance') }}</span>
                <span>{{ errors.first('bonus') }}</span>
                <span>{{ errors.first('clothing_freedom') }}</span>
                <span>{{ errors.first('housing_allowance') }}</span>
                <span>{{ errors.first('short_term') }}</span>
                <span>{{ errors.first('long_term') }}</span>
                <span>{{ errors.first('remote') }}</span>
                <span>{{ errors.first('company_service') }}</span>
                <span>{{ errors.first('practical_inexperience') }}</span>
              </b-list-group>
            </b-col>
          </b-row>
        </b-form-group>

        <b-form-group
          id="image"
          :label="
            admin_old_status == 1
              ? $t('global.fields.select_images')
              : $t('global.fields.images')
          "
          label-for="image"
        >
          <div>
            <span
              v-for="(data, key) in images_array"
              :key="key"
              class="image-parent col-2"
            >
              <b-img
                v-bind="mainProps"
                :src="data.backGroundImage"
                rounded="0"
                alt="Rounded image"
                @click.stop="preview(key)"
              />
              <font-awesome-icon
                v-show="admin_old_status == 1"
                :disabled="!submit_enabled"
                :icon="['fas', 'window-close']"
                :style="{ color: 'red' }"
                size="1x"
                class="remove-btn"
                @click="removeImage(key)"
              />
              <b-progress
                v-if="data.uploadPercentage > 0 && data.uploadPercentage < 100"
                :value="data.uploadPercentage"
                :max="100"
                show-value
                class="width-20"
              />
              <font-awesome-icon
                v-if="data.uploadPercentage == 100 && admin_old_status == 1"
                :icon="['fas', 'check-circle']"
                :style="{ color: '#007bff' }"
                size="2x"
                class="percentage"
              />
            </span>
          </div>

          <div v-show="admin_old_status == 1" class="avatar-upload">
            <b-form-file
              ref="fileinput"
              v-model="files"
              v-validate="images_array.length < 1 ? 'required' : ''"
              :disabled="!submit_enabled"
              :data-vv-as="$t('global.fields.images')"
              accept="image/jpeg,image/jpg,image/png"
              type="file"
              data-vv-name="images"
              @input="onChange($event)"
            />
          </div>
          <b-list-group v-show="admin_old_status == 1">
            {{ $t('global.fields.image_help_text') }}
            <span class="error">{{ errors.first('images') }}</span>
          </b-list-group>
        </b-form-group>
      </b-form>
      <b-form-group class="text-center">
        <b-btn class="text-center" variant="info" @click="handleBack">
          {{ $t('global.buttons.back') }}</b-btn
        >
        <b-btn
          :disabled="
            !submit_enabled || admin_old_status == 0 || admin_old_status == 2
          "
          class="text-center"
          @click="handleUpdateJob"
        >
          <font-awesome-icon
            v-if="!submit_enabled"
            :icon="['fas', 'spinner']"
            :style="{ color: '#27B6C5' }"
          />{{ $t('global.buttons.update') }}</b-btn
        >
      </b-form-group>
    </b-col>
    <h1>
      {{ form.admin_comment.length > 1 ? $t('global.fields.history') : '' }}
    </h1>
    <div v-if="form.admin_comment.length > 0 && logReady" role="tablist">
      <div v-for="(item, key) in form.admin_comment" :key="key">
        <b-card v-if="key > 0" no-body class="mb-1">
          <b-card-header header-tag="header" class="p-1" role="tab">
            <b-button
              v-b-toggle="'accordian' + item.id"
              block
              href="#"
              variant="info"
              >{{ item.created_at }}</b-button
            >
          </b-card-header>
          <b-collapse
            :id="'accordian' + item.id"
            accordion="my-accordion"
            role="tabpanel"
          >
            <b-card-body>
              <div>
                <b-alert show variant="primary">
                  {{ $t('global.fields.admin_remarks') }} :
                  {{ item.comment }}</b-alert
                >
              </div>
              <b-list-group-item
                ><h6>
                  {{ $t('global.fields.employment_type') }} :
                  {{
                    attribute(
                      'employment_type',
                      item.job_detail.employment_type
                    ).text
                  }}
                </h6></b-list-group-item
              >
              <b-list-group-item
                ><h6>
                  {{ $t('global.fields.time_period') }} :
                  {{
                    item.job_detail.time_period != null
                      ? attribute('time_period', item.job_detail.time_period)
                          .text
                      : $t('global.fields.not_setting')
                  }}
                </h6></b-list-group-item
              >
              <b-list-group-item
                ><h6>
                  {{ $t('global.fields.category') }} :
                  {{
                    attribute('job_category', item.job_detail.category_id).text
                  }}
                </h6></b-list-group-item
              >
              <b-list-group-item
                ><h6>
                  {{ $t('global.fields.sub_category') }} :
                  {{
                    attribute('job_category', item.job_detail.category_id).text
                  }}
                </h6></b-list-group-item
              >
              <b-list-group-item
                ><h6>
                  {{ $t('global.fields.salary') }}:
                  {{
                    attribute('salary_type', item.job_detail.salary_type).text
                  }}/ {{ item.job_detail.min_salary }} ~
                  {{ item.job_detail.max_salary }}
                </h6></b-list-group-item
              >
              <b-list-group-item
                ><h6>
                  {{ $t('global.fields.japanese_lang_level') }}:
                  {{
                    attribute('lang.level', item.job_detail.japanese_lang_level)
                      .text
                  }}
                </h6></b-list-group-item
              >
              <b-list-group-item
                ><h6>
                  {{ $t('global.fields.english_lang_level') }}:
                  {{
                    attribute('lang.level', item.job_detail.english_lang_level)
                      .text
                  }}
                </h6></b-list-group-item
              >

              <b-list-group-item
                ><h6>
                  {{ $t('global.fields.title_ja') }}:
                  {{ item.job_detail.title.ja }}
                </h6></b-list-group-item
              >
              <b-list-group-item
                ><h6>
                  {{ $t('global.fields.description_ja') }}:
                  {{ item.job_detail.description.ja }}
                </h6></b-list-group-item
              >
              <b-list-group-item
                ><h6>
                  {{ $t('global.fields.qualifications_ja') }}:
                  {{ item.job_detail.qualifications.ja }}
                </h6></b-list-group-item
              >
              <b-list-group-item
                ><h6>
                  {{ $t('global.fields.welfare_ja') }}:
                  {{ item.job_detail.welfare.ja }}
                </h6></b-list-group-item
              >

              <b-list-group-item
                ><h6>
                  {{ $t('global.fields.translation') }}:
                  {{
                    attribute(
                      'job_translation',
                      item.job_detail.language_translation
                    ).text
                  }}
                </h6></b-list-group-item
              >

              <b-list-group-item
                ><h6>
                  {{ $t('global.fields.title_en') }}:
                  {{ item.job_detail.title.ja }}
                </h6></b-list-group-item
              >
              <b-list-group-item
                ><h6>
                  {{ $t('global.fields.description_en') }}:
                  {{ item.job_detail.description.ja }}
                </h6></b-list-group-item
              >
              <b-list-group-item
                ><h6>
                  {{ $t('global.fields.qualifications_en') }}:
                  {{ item.job_detail.qualifications.en }}
                </h6></b-list-group-item
              >
              <b-list-group-item
                ><h6>
                  {{ $t('global.fields.welfare_en') }}:
                  {{ item.job_detail.welfare.en }}
                </h6></b-list-group-item
              >

              <b-list-group-item
                ><h6>
                  Working Hour :
                  {{
                    attribute('work_time', item.job_detail.working_hour_from)
                      .text
                  }}
                  ~
                  {{
                    attribute('work_time', item.job_detail.working_hour_to).text
                  }}
                  ({{ $t('global.fields.morning_shift') }} :
                  {{
                    attribute('boolean', item.job_detail.morning_shift).text
                  }}, {{ $t('global.fields.night_shift') }}:
                  {{ attribute('boolean', item.job_detail.night_shift).text }})
                </h6></b-list-group-item
              >
              <b-list-group-item
                ><h6>
                  {{ $t('global.fields.holiday') }} :
                  {{ attribute('holiday', item.job_detail.holiday).text }} /
                  {{ item.job_detail.holiday_days }}
                </h6>
              </b-list-group-item>
              <b-list-group-item
                >{{ $t('global.fields.working_location') }}
                <b-list-group
                  v-for="(item_address, key_address) in item.job_detail
                    .addresses"
                  :key="key_address"
                >
                  <h5>{{ $t('global.fields.address') }} {{ key + 1 }}</h5>
                  <div style="margin-left: 12px">
                    <b-list-group>
                      <h6>
                        {{ $t('global.fields.zip_code') }}:
                        {{ item_address.zip_code }}
                      </h6>
                    </b-list-group>
                    <b-list-group>
                      <h6>
                        {{ $t('global.fields.prefecture') }}:
                        {{
                          attribute('prefecture', item_address.prefecture_id)
                            .text
                        }}
                      </h6>
                    </b-list-group>
                    <b-list-group>
                      <h6>
                        {{ $t('global.fields.address') }} :
                        {{
                          item_address.address +
                            ' ' +
                            item_address.street_address
                        }}
                      </h6>
                    </b-list-group>
                  </div>
                </b-list-group>
              </b-list-group-item>
              <b-list-group-item>
                <h5>{{ $t('global.fields.other_language') }}</h5>
                <b-list-group
                  v-for="(job_lang, key_lang) in item.job_detail.langs"
                  :key="key_lang"
                >
                  {{ $t('global.fields.language') }} {{ key + 1 }}
                  <div style="margin-left: 12px">
                    <b-list-group>
                      <h6>
                        {{ $t('global.fields.language') }}:
                        {{ attribute('lang_option', job_lang.language).text }}
                      </h6>
                    </b-list-group>
                    <b-list-group>
                      <h6>
                        {{ $t('global.fields.level') }} :
                        {{ attribute('lang.level', job_lang.level).text }}
                      </h6>
                    </b-list-group>
                  </div>
                </b-list-group>
              </b-list-group-item>
              <b-list-group-item>
                <h5>{{ $t('global.fields.job_features') }}</h5>
                <div style="margin-left: 12px">
                  <b-list-group>
                    {{ $t('global.fields.visa_support') }} :{{
                      attribute('boolean', item.job_detail.visa_support).text
                    }}
                  </b-list-group>
                  <b-list-group>
                    {{ $t('global.fields.social_insurance') }} :{{
                      attribute('boolean', item.job_detail.social_insurance)
                        .text
                    }}
                  </b-list-group>
                  <b-list-group>
                    {{ $t('global.fields.bonus') }} :{{
                      attribute('boolean', item.job_detail.bonus).text
                    }}
                  </b-list-group>
                  <b-list-group>
                    {{ $t('global.fields.clothing_freedom') }} :{{
                      attribute('boolean', item.job_detail.clothing_freedom)
                        .text
                    }}
                  </b-list-group>
                  <b-list-group>
                    {{ $t('global.fields.housing_allowance') }} :{{
                      attribute('boolean', item.job_detail.housing_allowance)
                        .text
                    }}
                  </b-list-group>
                  <b-list-group>
                    {{ $t('global.fields.short_term') }} :{{
                      attribute('boolean', item.job_detail.short_term).text
                    }}
                  </b-list-group>
                  <b-list-group>
                    {{ $t('global.fields.long_term') }} :{{
                      attribute('boolean', item.job_detail.long_term).text
                    }}
                  </b-list-group>
                  <b-list-group>
                    {{ $t('global.fields.remote') }} :{{
                      attribute('boolean', item.job_detail.remote).text
                    }}
                  </b-list-group>
                  <b-list-group>
                    {{ $t('global.fields.company_service') }} :{{
                      attribute('boolean', item.job_detail.company_service).text
                    }}
                  </b-list-group>
                  <b-list-group>
                    {{ $t('global.fields.welcome_inexperience') }} :{{
                      attribute('boolean', item.job_detail.practical_experience)
                        .text
                    }}
                  </b-list-group>
                </div>
              </b-list-group-item>
            </b-card-body>
          </b-collapse>
        </b-card>
      </div>
    </div>

    <div v-if="showGallery">
      <no-ssr>
        <vue-gallery-slideshow
          :images="images"
          :index="indexval"
          @close="indexval = null"
        />
      </no-ssr>
    </div>
  </div>
</template>

<script>
import nuxtend from 'nuxtend'
import _ from 'lodash'
import edit from '~/mixins/edit'
import VueGallerySlideshow from 'vue-gallery-slideshow'

export default nuxtend({
  middleware: 'auth',
  components: {
    VueGallerySlideshow
  },
  mixins: [edit('jobs')],
  /**
   *
   * @param app
   * @param store
   * @param params
   * @returns {Promise<{subcategory: {}, file: null, fileForm: {}, dataForm: *} | never>}
   */
  asyncData({ app, store, params }) {
    return Promise.all([
      store.dispatch('jobs/showAsync', params.id),
      store.dispatch('attributeAsync', [
        // before this
        'walking.distance',
        'job_status',
        'lang_option',
        'week.days',
        'station.distance',
        'job_category',
        'salary_type',
        'job_translation',
        'holiday'
      ]),
      store.dispatch('attributeAsync', [
        'employment_type',
        'lang.level',
        'prefecture',
        'week.days',
        'admin_job_status'
      ]),
      // sub category
      store.dispatch('attributeAsync', [
        // added for sub category
        'system_engineer',
        'web_design',
        'web_director_marketing',
        'sales_planning_management_publicity',
        'others'
      ]),
      store.dispatch('attributeAsync', ['time_period', 'work_time', 'boolean'])
    ]).then(response => {
      return {
        subcategory: {},
        dataForm: _.cloneDeep(
          store.getters['jobs/show'](parseInt(params.id), 'id').data
        ),
        admin_old_status: _.cloneDeep(
          store.getters['jobs/show'](parseInt(params.id), 'id').data
            .admin_status
        )
      }
    })
  },
  pageRootKey: 'job.edit',
  data() {
    return {
      mainProps: { width: 120, height: 120, class: 'm4 p4' },
      submit_enabled: true,
      admin_old_status: null,
      dataForm: {},
      images_array: [],
      selected_rate: null,
      images: [],
      files: null,
      deleted_images: [],
      showGallery: false,
      indexval: null,
      valid: false,
      comment: null,
      logReady: false,
      last_comment: null
    }
  },
  computed: {
    form: {
      get() {
        this.getSubCategory()
        this.dataForm.holiday_days = !_.isNull(this.dataForm.holiday_days)
          ? _.split(this.dataForm.holiday_days, ',')
          : null
        if (
          !this.dataForm.japanese_lang_level &&
          this.dataForm.japanese_lang_level == null
        )
          this.dataForm.japanese_lang_level = _.filter(
            this.dataForm.langs,
            function(el) {
              return parseInt(el.language) === 1
            }
          )[0].level
        if (
          !this.dataForm.english_lang_level &&
          this.dataForm.english_lang_level === null
        )
          this.dataForm.english_lang_level = _.filter(
            this.dataForm.langs,
            function(el) {
              return parseInt(el.language) === 0
            }
          )[0].level
        this.dataForm.langs = _.filter(this.dataForm.langs, function(el) {
          return !(parseInt(el.language) === 0 || parseInt(el.language) === 1)
        })
        this.dataForm.last_comment =
          this.dataForm.admin_comment.length >= 0 &&
          (!_.isUndefined(this.dataForm.admin_comment.comment)
            ? this.dataForm.admin_comment[0].comment
            : this.dataForm.admin_comment[0].comment)
        return this.dataForm
      },
      set(value) {
        this.dataForm = value
      }
    }
  },
  watch: {
    'form.language_translation': function() {}
  },
  mounted() {
    this.showGallery = true
    const selfComponent = this
    if (this.form.images.length > 0) {
      _.each(this.form.images, function(data) {
        selfComponent.images_array.push({
          id: data.id,
          image_value: data.media_value,
          backGroundImage: data.url,
          uploadPercentage: 100,
          uploaded: true
        })
        selfComponent.images.push(data.url)
      })
    }
    _.each(this.form.admin_comment, function(data, key) {
      selfComponent.form.admin_comment[key].job_detail = JSON.parse(
        selfComponent.form.admin_comment[key].job_detail
      )
    })
    this.logReady = true
  },
  methods: {
    handleBack() {
      const path = this.$i18n.path(`/jobs`)
      this.$router.push({ path })
    },
    preview(key) {
      this.indexval = key
    },
    onChange(image) {
      let validImage = true
      let message = null
      // this.files = image.target.files[0]

      if (this.files) {
        const allowedExtensions = /(\.jpg|\.jpeg|\.png)$/i
        if (!allowedExtensions.exec(this.files.name.toLowerCase())) {
          validImage = false
          message = this.$t('global.buttons.image_type')
        }

        if (this.files.size > 5242880) {
          validImage = false
          message = this.$t('global.buttons.image_size')
        }
        const self = this
        _.forEach(this.images_array, function(val, key) {
          if (!val.id && val.file.lastModified === self.files.lastModified) {
            validImage = false
            message = self.$t('global.buttons.duplicate_image')
          }
        })
        if (this.images_array.length === 5) {
          validImage = false
          message = this.$t('global.buttons.image_count')
        }
        if (!validImage) {
          this.$refs.fileinput.reset()
          this.$toast.error(message)
        } else if (this.files) {
          const imgURL = window.URL.createObjectURL(this.files)
          this.images_array.push({
            backGroundImage: imgURL,
            file: this.files,
            uploadPercentage: 0,
            uploaded: false
          })
          this.images.push(imgURL)
        }
      }
    },

    removeImage(key) {
      if (this.images_array[key].id) {
        this.deleted_images.push(this.images_array[key].id)
      }
      _.forEach(this.images, (val, index) => {
        if (val === this.images_array[key].backGroundImage)
          this.images.splice(index, 1)
      })
      this.$refs.fileinput.reset()
      if (this.submit_enabled) {
        this.images_array.splice(key, 1)
      }
    },
    /**
     *
     * @param evt
     */
    getSubCategory(evt) {
      this.dataForm.sub_category_id = !_.isUndefined(evt)
        ? null
        : this.dataForm.sub_category_id
      evt = _.isUndefined(evt) ? this.dataForm.category_id : evt
      const newAttrName = this.attribute('job_category', evt).ownName
      let subCategory = {}
      subCategory = _.cloneDeep(this.attribute(newAttrName))
      this.subcategory = subCategory
    },
    /**
     * location add
     */
    handleAddWorkLocation() {
      this.dataForm.addresses.push({
        zip_code: null,
        prefecture_id: null,
        address: null,
        street_address: null
      })
    },
    /**
     * remove location
     * @param key
     */
    handleRemoveWorkLocation(key) {
      this.form.addresses.splice(key, 1)
    },
    /**
     * add language
     */
    handleAddReqLang() {
      this.dataForm.langs.push({
        language: null,
        level: null
      })
    },
    handleRemoveLanguage(key) {
      this.form.langs.splice(key, 1)
    },
    /**
     * update job
     */
    handleUpdateJob() {
      this.errors.clear()
      this.$toast.clear()
      if (parseInt(this.form.admin_status) !== 2) this.saveJobDetails()
      else this.saveStatus()
    },
    saveJobDetails() {
      this.$validator.validateAll().then(success => {
        if (success) {
          this.form.holiday_days = _.toString(this.form.holiday_days)
          const original = this.form.holiday_days
          const processed = !_.isEmpty(original) ? original.toString() : null
          this.form.holiday_days = !_.isEmpty(processed)
            ? processed.toString()
            : null
          this.form.title_ja = this.form.job_title.ja
          this.form.description_ja = this.form.description.ja
          this.form.qualifications_ja = this.form.qualifications.ja
          this.form.welfare_ja = this.form.welfare.ja
          this.form.title_en = this.form.job_title.en
          this.form.description_en = this.form.description.en
          this.form.qualifications_en = this.form.qualifications.en
          this.form.welfare_en = this.form.welfare.en
          const form = _.omit(this.form, [
            'job_title',
            'welfare',
            'description',
            'qualifications',
            'type_id',
            'provider_info'
          ])
          const self = this
          _.each(self.form.langs, function(field, key) {
            if (!field.language && !field.level) self.form.langs.splice(key, 1)
          })

          this.submit_enabled = false

          const uploadImages = []
          _.forEach(self.images_array, (item, index) => {
            if (!item.uploaded) {
              const task = this.$store
                .dispatch('getSignedUrl', {
                  type: item.file.type.split('/')[0],
                  extension: item.file.type.split('/')[1]
                })
                .then(response => {
                  if (response.data.signedUrl) {
                    const options = {
                      headers: {
                        'Content-Type': item.type
                      },
                      onUploadProgress: function(progressEvent) {
                        const percent = Math.round(
                          (progressEvent.loaded * 100) / progressEvent.total
                        )
                        self.images_array[index].uploadPercentage = percent
                      }
                    }
                    const tempImage = response.data.tempImage
                    return this.$axios
                      .put(
                        response.data.signedUrl,
                        self.images_array[index].file,
                        options
                      )
                      .then(response => {
                        this.images_array[index].image_value = tempImage
                        this.images_array[index].uploaded = true
                      })
                      .catch(err => {
                        console.log(err)
                      })
                  }
                })
                .catch(err => {
                  console.log(err)
                })
              uploadImages.push(task)
            }
          })

          Promise.all(uploadImages).then(() => {
            const self = this
            form.deleted_images = self.deleted_images
            form.images = []
            _.each(self.images_array, function(field, key) {
              if (field.uploaded === true && !field.id)
                form.images.push(field.image_value)
            })
            this.$store
              .dispatch('jobs/updateAsync', { id: form.id, data: form })
              .then(response => {
                // window.location.reload(true)
                const Data = response.data.data
                this.submit_enabled = true
                this.$toast.success(this.$t('global.messages.update_success'))
                this.dataForm = _.cloneDeep(Data)
                console.log('response', Data.job_title)
                const path = this.$i18n.path(`/jobs`)
                this.$router.push({ path })
              })
              .catch(err => {
                this.submit_enabled = true
                this.$toast.error(this.$t('global.messages.validation_failure'))
                const errs = []
                _.forEach(err.response.data.errors, (messages, field) => {
                  _.forEach(messages, message => {
                    const pattern = new RegExp(/addresses\.(.+?)\.(\w+)/)
                    const langPattern = new RegExp(/langs\.(.+?)\.(\w+)/)
                    const holidayPattern = new RegExp(/holiday_days\.?(.*)/)
                    const matches = field.match(pattern)
                    const langMatches = field.match(langPattern)
                    const holidayMatches = field.match(holidayPattern)
                    if (matches) {
                      field = `${matches[2]}_${matches[1]}`
                    }
                    if (langMatches) {
                      field = `${langMatches[2]}_${langMatches[1]}`
                    }
                    if (holidayMatches) {
                      const split = holidayMatches[0].split(/.(?=[^.]+$)/)
                      field = `${split[0]}`
                    }
                    errs.push(
                      _.merge(
                        {},
                        {
                          field: field,
                          msg: message
                        }
                      )
                    )
                  })
                  if (errs.length > 0) {
                    this.errors.add(errs)
                  }
                })
              })
          })
        } else {
          this.$toast.error(this.$t('global.messages.validation_failure'))
        }
      })
    },
    saveStatus() {
      this.$validator.validateAll().then(success => {
        if (success) {
          const form = {}
          form.admin_status = this.form.admin_status
          form.language_translation = this.form.language_translation
          form.comment = this.comment
          this.submit_enabled = false
          this.$store
            .dispatch('jobs/updateAsync', { id: this.form.id, data: form })
            .then(response => {
              // this.dataForm = _.cloneDeep(response.data.data)
              this.$toast.success(this.$t('global.messages.update_success'))
              this.submit_enabled = true
              const path = this.$i18n.path(`/jobs`)
              this.$router.push({ path })
            })
            .catch(err => {
              this.submit_enabled = true
              this.$toast.error(this.$t('global.messages.validation_failure'))
              const errs = []
              _.forEach(err.response.data.errors, (messages, field) => {
                _.forEach(messages, message => {
                  errs.push(
                    _.merge(
                      {},
                      {
                        field: field,
                        msg: message
                      }
                    )
                  )
                })
                if (errs.length > 0) {
                  this.errors.add(errs)
                }
              })
            })
        } else {
          this.submit_enabled = true
          this.$toast.error(this.$t('global.messages.validation_failure'))
        }
      })
    },
    /**
     * retrive address from zip code
     * @param value
     * @param key
     */
    handleGetAddress(value, key) {
      this.submit_enabled = false
      this.$toast.clear()
      this.$store
        .dispatch('locationZipcode', { zip_code: value })
        .then(response => {
          this.submit_enabled = true
          if (response.status === 'OK') {
            this.form.addresses[key].address =
              response.data.data[`address_${this.$store.getters.locale}`]
            this.form.addresses[key].street_address =
              response.data.data[`street_address_${this.$store.getters.locale}`]
            this.dataForm.addresses[key].prefecture_id = this.attributeByText(
              'prefecture',
              response.data.data[`prefecture_${this.$store.getters.locale}`]
            ).value
          } else {
            this.$toast.error(this.$t('global.messages.location_fetch_error'))
          }
        })
        .catch(() => {
          this.submit_enabled = true
          this.$toast.error(this.$t('global.messages.location_fetch_error'))
        })
    },

    purchasePoints() {
      this.valid = true
      if (this.selected_rate) {
        this.$store
          .dispatch('providers/purchasePoints', { id: this.selected_rate })
          .then(response => {
            this.$store.dispatch('providers/getPointBalance')
            this.valid = false
            this.point_balance = response.data.point_balance
            this.$refs.myModalRef.hide()
            this.$toast.success(response.data.message)
          })
          .catch(err => {
            this.valid = false
            this.$toast.error(err.response.data.message)
          })
      }
    },
    /**
     * make zip code in valid format
     * @param key
     */
    zipChanged(key) {
      if (this.form.addresses[key].zip_code != null) {
        this.form.addresses[key].zip_code = this.form.addresses[
          key
        ].zip_code.replace(/-/g, '')
      }
    }
  }
})
</script>

<style scoped>
span {
  color: red;
}
.remove-btn {
  position: absolute;
  cursor: pointer;
  height: 25px;
  width: 25px;
  margin-left: -37px;
  margin-bottom: -5px;
  margin-top: 0px;
}
.b-form-file {
  width: 100%;
  margin-top: 10px;
}
.percentage {
  position: absolute;
  top: 40px;
  margin-left: -90px;
  margin-bottom: -5px;
}
img {
  object-fit: cover;
  margin-right: 10px;
}
.width-20 {
  width: 120px;
  position: absolute;
  left: 15px;
  top: 0px;
}
</style>
