<template>
  <section class="shadow p-2">
    <b-container fluid class="p-2">
      <b-row>
        <b-col md="4">
          <b-form-input
            v-model="searchParameters.provider_identifier_id"
            :placeholder="$t('global.placeholder.identifier_id')"
          />
        </b-col>
        <b-col md="4">
          <b-form-input
            v-model="searchParameters.email"
            :placeholder="$t('global.placeholder.email')"
          />
        </b-col>
        <b-col md="4">
          <b-form-input
            v-model="searchParameters.telephone"
            :placeholder="$t('global.placeholder.phone_number')"
          />
        </b-col>
      </b-row>
      <b-row class="mt-1">
        <b-col md="4">
          <b-form-select
            v-model="searchParameters.prefecture_id"
            :options="attribute('prefecture')"
          >
            <option slot="first" :value="null">{{
              $t('global.fields.prefecture')
            }}</option>
          </b-form-select>
        </b-col>
        <b-col md="4">
          <b-form-select
            v-model="searchParameters.business_content"
            :options="attribute('business_content')"
          >
            <option slot="first" :value="null">{{
              $t('global.fields.business_content')
            }}</option>
          </b-form-select>
        </b-col>
        <b-col md="4">
          <date-picker
            v-model="searchParameters.created_at"
            :placeholder="$t('global.placeholder.registration_date')"
            :lang="date_lang()"
            type="month"
            format="YYYY-MM"
          />
        </b-col>
      </b-row>
      <b-row class="mt-1">
        <b-col md="6">
          <b-form-input
            v-model="searchParameters.company_name"
            :placeholder="$t('global.placeholder.company_name_en_or_ja')"
          />
        </b-col>
        <b-col md="6">
          <b-form-input
            v-model="searchParameters.contact_person"
            :placeholder="$t('global.placeholder.contact_person_en_or_ja')"
          />
        </b-col>
      </b-row>
      <b-row class="mt-1 mb-1 float-right">
        <b-col class="md-3 lg">
          <b-btn class="reset" @click="resetSearchParameters">{{
            $t('global.buttons.reset')
          }}</b-btn>
        </b-col>
        <b-col>
          <b-btn @click="refreshTable">{{ $t('global.buttons.search') }}</b-btn>
        </b-col>
      </b-row>
    </b-container>
    <b-table
      ref="table"
      :items="getItems"
      :fields="headers"
      :empty-text="
        isBusy == true ? 'Processing data' : 'There are no records to show.'
      "
      show-empty
      striped
      hover
      stacked="md"
      head-variant="dark"
    >
      <template slot="provider_identifier_id" slot-scope="props">
        {{ props.item.provider_identifier_id }}
      </template>
      <template slot="email" slot-scope="props">
        {{ props.item.email }}
      </template>
      <template slot="company_name" slot-scope="props">
        {{ props.item.company_name[$store.getters.locale] }}
      </template>
      <template slot="business_content" slot-scope="props">
        {{ attribute('business_content', props.item.business_content).text }}
      </template>
      <template slot="paid_status" slot-scope="props">
        {{ attribute('paid_status', props.item.paid_status).text }}
      </template>
      <template slot="created_at" slot-scope="props">
        {{ $moment(props.item.created_at).format('YYYY/MM/DD') }}
      </template>
      <template slot="actions" slot-scope="props">
        <b-button size="sm" @click.stop="props.toggleDetails">
          {{ $t('global.buttons.quick_view') }}
        </b-button>
      </template>
      <template slot="row-details" slot-scope="props">
        <b-row>
          <b-col class="col-6">
            <b-list-group>
              <b-list-group-item
                >{{ $t('global.fields.contact_person') }} :
                {{
                  props.item.contact_person[$store.getters.locale]
                }}</b-list-group-item
              >
              <b-list-group-item
                >{{ $t('global.fields.establishmentYear') }} :
                {{ props.item.established_year }}</b-list-group-item
              >
              <b-list-group-item
                >{{ $t('global.fields.prefecture') }} :
                {{
                  attribute('prefecture', props.item.prefecture_id).text
                }}</b-list-group-item
              >
            </b-list-group>
          </b-col>
          <b-col class="col-6">
            <b-list-group>
              <b-list-group-item
                >{{ $t('global.fields.no_of_employee') }} :
                {{ props.item.no_of_employee }}</b-list-group-item
              >
              <b-list-group-item
                >{{ $t('global.fields.related_url') }} :
                {{ props.item.related_url }}</b-list-group-item
              >
              <b-list-group-item
                >{{ $t('global.fields.telephone') }} :
                {{ props.item.telephone }}</b-list-group-item
              >
            </b-list-group>
          </b-col>
        </b-row>
      </template>
    </b-table>
    <Pagination ref="pagination" :meta="meta" page="job.list" />
  </section>
</template>

<script>
import nuxtend from 'nuxtend'
import list from '~/mixins/list'
import Pagination from '~/components/Navigation/Pagination'
export default nuxtend({
  middleware: 'loggedIn',
  components: {
    Pagination
  },
  mixins: [list('admin/providers')],
  fetch({ app, store, query }) {
    return Promise.all([
      store.dispatch('attributeAsync', [
        'skill_type',
        'employment_type',
        'job_status',
        'admin_job_status'
      ]),
      store.dispatch('attributeAsync', [
        'job_category',
        'system_engineer',
        'others',
        'lang.level',
        'gender'
      ]),
      store.dispatch('attributeAsync', [
        'business_content',
        'prefecture',
        'boolean',
        'country',
        'paid_status'
      ])
    ])
  },
  data() {
    return {
      headers: [
        {
          key: 'provider_identifier_id',
          label: this.$t('global.fields.identifier_id'),
          sortable: true
        },
        {
          key: 'email',
          label: this.$t('global.fields.email'),
          sortable: false
        },
        {
          key: 'company_name',
          label: this.$t('global.fields.company_name'),
          sortable: true
        },
        {
          key: 'business_content',
          label: this.$t('global.fields.business_content'),
          sortable: true
        },
        {
          key: 'created_at',
          label: this.$t('global.fields.registrationDate'),
          sortable: true
        },
        {
          key: 'point_balance',
          label: this.$t('global.fields.pointBalance'),
          sortable: true
        },
        {
          key: 'paid_status',
          label: this.$t('global.fields.paid_status'),
          sortable: true
        },
        {
          key: 'actions',
          label: this.$t('global.fields.actions'),
          sortable: false
        }
      ],
      meta: {
        total: 0
      },
      searchParameters: {
        created_at: null,
        telephone: null,
        company_name: null,
        contact_person: null,
        provider_identifier_id: null,
        email: null,
        prefecture_id: null,
        business_content: null,
        user_type: 'provider',
        page: 1,
        limit: 10,
        direction: 'desc',
        orderby: 'created_at'
      },
      sortOrder: false,
      isBusy: false
    }
  },
  methods: {
    getItems(ctx, callback) {
      this.getTableData(ctx, callback, this.searchParameters)
    }
  }
})
</script>

<style scoped>
.mx-datepicker {
  display: block !important;
}
.reset {
  word-break: keep-all;
}
</style>
