<template>
  <b-container class="flex-column boxer">
    <the-nav layout="default" />
    <nuxt />
    <the-footer />
  </b-container>
</template>
<script>
import TheNav from '~/components/Navigation/TheNav'
import TheFooter from '~/components/Navigation/TheFooter'
export default {
  components: {
    TheNav,
    TheFooter
  },
  data() {
    return {
      image: '..assets/images/logo.png',
      open: true,
      locales: {},
      locale: '',
      menuItems: [],
      language: []
    }
  },
  computed: {},
  created() {
    this.menuItems = [
      { icon: 'play_for_work', text: 'links.index', path: '/home' },
      { icon: 'group', text: 'links.about', path: '/about' },
      { icon: 'attach_money', text: 'links.contact', path: '/contact' }
    ]
    this.locales = { ja: '日本語', en: 'english' }
    this.locale = 'ja'
    this.language = [
      {
        locale: '日本語',
        name: 'ja',
        icon: 'play_for_work',
        src: '..assets/images/logo.png'
      },
      {
        locale: 'english',
        name: 'en',
        icon: 'attach_money',
        src: '..assets/images/logo.png'
      }
    ]
  },
  methods: {
    changeLocale(locale) {
      location.href = this.$i18n.path(null, locale)
      this.locale = locale
    }
  }
}
</script>
