<template>
  <b-container class="flex-column">
    <the-nav layout="login" />
    <b-col class="col-md-5 mx-auto" style="text-align: center">
      <h2>{{ $t('global.fields.welcome_admin') }}</h2>
    </b-col>
    <nuxt />
    <the-footer />
  </b-container>
</template>
<script>
import TheFooter from '~/components/Navigation/TheFooter'
import TheNav from '~/components/Navigation/TheNav'
export default {
  components: {
    TheFooter,
    TheNav
  }
}
</script>
