<template>
  <section class="p-3">
    <b-row>
      <b-col class="col-12">
        <b-form @submit.prevent="addAdmin">
          <b-form-group id="email" label="Email:" label-for="email">
            <b-form-input
              id="email"
              v-model="dataForm.email"
              type="email"
              required
              placeholder="Enter email"
            />
          </b-form-group>
          <b-form-group
            id="full_name"
            v-model="dataForm.full_name"
            label="Full Name"
            label-for="full_name"
          >
            <b-form-input
              id="full_name"
              type="text"
              required
              placeholder="Enter full name"
            />
          </b-form-group>

          <b-button type="submit" variant="primary">Submit</b-button>
        </b-form>
      </b-col>
    </b-row>
  </section>
</template>

<script>
import nuxtend from 'nuxtend'
export default nuxtend({
  data() {
    return {
      dataForm: {
        email: null,
        full_name: null,
        terms: 1,
        user_type: 'admin'
      }
    }
  },
  methods: {}
})
</script>
<style scoped></style>
