<template>
  <section>
    <b-row class="mx-auto">
      Are you sure ?
      {{ params }}
      <b-btn @click="emitConfirm">Yes</b-btn>
    </b-row>
  </section>
</template>

<script>
import nuxtend from 'nuxtend'
export default nuxtend({
  props: {
    item: {
      params: Object,
      default: function() {
        return {}
      }
    }
  },
  methods: {
    emitConfirm() {
      this.$emit('close', this.params)
    }
  }
})
</script>
