<template>
  <b-row class="mt-5">
    <b-col class="col-md-5 mx-auto">
      <div class="loginForm shadow rounded p-3 mb-5">
        <b-row>
          <b-col class=" col-12">
            <b-form class="p-2" @submit.prevent="login">
              <b-form-group
                id="emailgroup"
                :label="this.$t('global.fields.email')"
                label-for="email"
                label-class="required"
              >
                <b-form-input
                  id="email"
                  v-model="email"
                  v-validate="'required|email'"
                  :placeholder="this.$t('global.placeholder.email')"
                  name="email"
                />
              </b-form-group>
              <div class="error">
                <span>{{ errors.first('email') }}</span>
              </div>
              <hr />
              <b-form-group
                id="passwordgroup"
                :label="this.$t('global.fields.password')"
                label-for="password"
                label-class="required"
              >
                <b-form-input
                  id="password"
                  v-model="password"
                  v-validate="'required'"
                  :placeholder="this.$t('global.placeholder.password')"
                  type="password"
                  name="password"
                />
              </b-form-group>
              <div class="error">
                <span>{{ errors.first('password') }}</span>
              </div>
              <br />
              <div class="d-flex justify-content-center">
                <b-button
                  :disabled="valid"
                  size="md"
                  type="submit"
                  class="mr-2"
                  variant="outline-info"
                >
                  <font-awesome-icon
                    v-if="valid"
                    :icon="['fas', 'spinner']"
                    :style="{ color: '#27B6C5' }"
                  />{{ this.$t('global.buttons.submit') }}</b-button
                >
                <nuxt-link :to="$i18n.path('/forgot-password')">
                  <b-button variant="outline-info">{{
                    this.$t('global.buttons.forgot_password')
                  }}</b-button>
                </nuxt-link>
              </div>
            </b-form>
          </b-col>
        </b-row>
      </div>
    </b-col>
  </b-row>
</template>

<script>
import nuxtend from 'nuxtend'
import _ from 'lodash'
import base from '~/mixins/base'

export default nuxtend({
  layout: 'login',

  pageRootKey: 'login',

  mixins: [base()],

  middleware: ['isLoggedIn'],

  data() {
    return {
      email: null,
      password: null,
      remember_me: false,
      loading: false,
      valid: null
    }
  },

  async fetch({ app, store }) {
    return Promise.all([await store.dispatch('langAsync', ['validation'])])
  },

  beforeCreate() {
    this.$i18n.mergeLocaleMessage(
      this.$store.getters.locale,
      _.get(this.$store.getters.messages, this.$store.getters.locale)
    )
  },

  created() {
    const loginRules = {}
    _.set(loginRules, 'email', {
      required: this.$t('validation.required', {
        attribute: this.$t('global.fields.email')
      }),
      email: this.$t('validation.email', {
        attribute: this.$t('global.fields.email')
      })
    })
    _.set(loginRules, 'password', {
      required: this.$t('validation.required', {
        attribute: this.$t('global.fields.password')
      })
    })
    this.$validator.localize(this.$store.getters.locale, {
      custom: loginRules
    })
  },

  methods: {
    login(evt) {
      this.valid = true
      this.errors.clear()
      this.$toast.clear()
      this.$validator
        .validateAll()
        .then(success => {
          if (success) {
            this.$auth
              .loginWith('local', {
                data: {
                  email: this.email,
                  password: this.password,
                  remember_me: false
                }
              })
              .then(() => {
                this.valid = true
                this.$router.push(this.$i18n.path('/dashboard'))
              })
              .catch(err => {
                const errs = []
                _.each(err.response.data.errors, function(messages, field) {
                  errs.push(
                    _.merge(
                      {},
                      {
                        field: field,
                        msg: messages[0]
                      }
                    )
                  )
                })
                if (errs.length > 0) {
                  this.errors.add(errs)
                }
                this.valid = false
                this.$toast.show(err.response.data.message, {
                  icon: 'close',
                  type: 'error'
                })
              })
          } else {
            this.valid = false
          }
        })
        .catch(() => {
          this.valid = false
        })
    }
  }
})
</script>

<style scoped>
svg {
}
</style>
