<template>
  <div style="position: relative" @click="showHideNoti">
    <div v-if="notifications.count > 0" class="badge">
      {{ notifications.count }}
    </div>
    <font-awesome-icon
      :icon="['fas', 'bell']"
      :style="{
        color: '#27c585',
        display: 'inline-block',
        position: 'relative'
      }"
    />
  </div>
</template>
<script>
import base from '~/mixins/base'
import { mapGetters } from 'vuex'
export default {
  mixins: [base()],
  data() {
    return {
      show: false,
      timer: ''
    }
  },
  computed: {
    ...mapGetters(['notifications'])
  },
  created() {
    this.$store.dispatch('getNotifications')
  },
  mounted() {
    // this.timer = setInterval(this.fetchNotificationList, 60000)
  },

  beforeDestroy() {
    // clearInterval(this.timer)
  },

  methods: {
    fetchNotificationList: function() {
      this.$store.dispatch('getNotifications')
    }
  }
}
</script>

<style scoped>
.badge {
  background-color: #fa3e3e;
  border-radius: 2px;
  color: white;
  padding: 1px 3px;
  font-size: 10px;
  position: absolute;
  top: -5px;
  right: -5px;
}
</style>
