<template>
  <div
    id="mySidenav"
    class="shadow sidenav col-md-3 border-top-0 border-bottom-0 border-right-0"
  >
    <a href="javascript:void(0)" class="closebtn" @click="showHideNoti"
      >&times;</a
    >
    <div v-if="notifications.data.length > 0">
      <div
        v-for="(item, key) in notifications.data"
        :key="key"
        :class="!item.read_at ? 'unread' : ''"
        @click="markAsRead(item)"
      >
        <b-alert :variant="key % 2 == 0 ? 'primary' : 'light'" show>
          <span class="time float-right"> {{ item.created_at }}</span>
          <br />
          <font-awesome-icon
            :icon="['fas', 'bell']"
            :style="{ color: '#ffffff' }"
          />
          <nuxt-link :to="$i18n.path(`/${item.data.redirect_admin}`)">
            {{ item.data[`message_${$store.getters.locale}`] }}
          </nuxt-link>
        </b-alert>
        <hr />
      </div>
    </div>
    <div v-if="notifications.data.length == 0">
      {{ $t('global.message.no_notifications') }}
    </div>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
import base from '~/mixins/base'
export default {
  mixins: [base()],

  computed: {
    ...mapGetters(['notifications'])
  },
  methods: {
    markAsRead: function(item) {
      if (!item.read_at) {
        this.$store
          .dispatch('readNotification', { id: item.id })
          .then(response => {
            this.$store.dispatch('getNotifications')
          })
      }
    }
  }
}
</script>
<style scoped>
.sidenav {
  height: 100%;
  width: auto;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  background-color: #27b6c5;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  border: 3px solid #f1f1f1;
  font-size: 14px;
  text-align: left;
  color: white;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
.alert {
  padding: 0;
}
.alert {
  background: transparent;
  border: none;
}
a {
  color: white;
}
a:hover {
  text-decoration: none;
}
.time {
  color: red;
  background-color: #ffffff;
  padding: 2px;
  border-radius: 5px;
}
.unread {
  background-color: #272bc51f;
  padding: 5px 3px 0px 5px;
}
</style>
