<template>
  <section class="shadow p-2">
    <b-row v-if="addAdmin">
      <b-col class="col-12 p-2">
        <b-form class="p-2" inline @submit.prevent="addNewAdmin">
          <b-input
            id="email"
            v-model="dataForm.email"
            :data-vv-as="$t('global.fields.email')"
            data-vv-name="email"
            class="mr-4"
            type="email"
            placeholder="Enter email"
          />
          <div class="error">
            <span>{{ errors.first('email') }}</span>
          </div>
          <b-form-checkbox
            v-model="dataForm.deletable"
            class="mb-2 mr-sm-2 mb-sm-0"
            value="1"
            unchecked-value="0"
            >{{ $t('global.fields.deletable') }}</b-form-checkbox
          >

          <b-button
            :disabled="valid"
            class="float-left"
            type="submit"
            variant="primary"
            ><font-awesome-icon
              v-if="valid"
              :icon="['fas', 'spinner']"
              :style="{ color: '#27B6C5' }"
            />{{ $t('global.buttons.submit') }}</b-button
          >
        </b-form>
      </b-col>
    </b-row>
    <hr />
    <b-container fluid class="p-1">
      <b-row>
        <b-col class="col-12 mb-1">
          <b-btn class="float-left" variant="primary" @click="newAdmin">{{
            $t('global.buttons.add_new_admin')
          }}</b-btn>
        </b-col>
      </b-row>
      <b-row>
        <b-col md="3">
          <b-form-input
            v-model="searchParameters.email"
            :placeholder="$t('global.placeholder.email')"
          />
        </b-col>
        <b-col md="3">
          <b-form-select
            v-model="searchParameters.verified"
            :options="attribute('boolean')"
          >
            <option slot="first" :value="null">{{
              $t('global.fields.verified')
            }}</option>
          </b-form-select>
        </b-col>
      </b-row>
      <b-row class="mt-1 mb-1 float-right">
        <b-col class="md-3 lg">
          <b-btn class="reset" @click="resetSearchParameters">{{
            $t('global.buttons.reset')
          }}</b-btn>
        </b-col>
        <b-col>
          <b-btn @click="refreshTable">{{ $t('global.buttons.search') }}</b-btn>
        </b-col>
      </b-row>
    </b-container>
    <b-table
      ref="table"
      :items="getItems"
      :fields="headers"
      :empty-text="
        isBusy == true ? 'Processing data' : 'There are no records to show.'
      "
      show-empty
      striped
      hover
      stacked="md"
      head-variant="dark"
    >
      <template slot="email" slot-scope="props">
        {{ props.item.email }}
      </template>
      <template slot="full_name" slot-scope="props">
        {{ props.item.full_name }}
      </template>
      <template slot="verified" slot-scope="props">
        {{ attribute('boolean', props.item.verified).text }}
      </template>
      <template slot="created_at" slot-scope="props">
        {{ $moment(props.item.created_at).format('YYYY/MM/DD') }}
      </template>
      <template slot="deletable" slot-scope="props">
        {{ attribute('boolean', props.item.deletable).text }}
      </template>
      <template slot="actions" slot-scope="props">
        <b-button
          v-if="props.item.deletable"
          size="sm"
          class="mr-2"
          @click.stop="deleteAdmin(props.item, 'user', 'delete')"
        >
          {{ $t('global.buttons.delete') }}
        </b-button>
      </template>
    </b-table>
    <Pagination ref="pagination" :meta="meta" page="admin.list" />
  </section>
</template>

<script>
import nuxtend from 'nuxtend'
import _ from 'lodash'
import list from '~/mixins/list'
import Pagination from '~/components/Navigation/Pagination'
import Create from '~/components/admin/create'
export default nuxtend({
  middleware: 'loggedIn',
  components: {
    Pagination,
    Create
  },
  mixins: [list('admin/users')],
  fetch({ app, store, query }) {
    return Promise.all([
      store.dispatch('attributeAsync', [
        'skill_type',
        'employment_type',
        'job_status',
        'admin_job_status'
      ]),
      store.dispatch('attributeAsync', [
        'job_category',
        'system_engineer',
        'others',
        'lang.level',
        'gender'
      ]),
      store.dispatch('attributeAsync', [
        'business_content',
        'prefecture',
        'boolean',
        'country'
      ])
    ])
  },
  data() {
    return {
      headers: [
        { key: 'email', label: this.$t('global.fields.email'), sortable: true },
        {
          key: 'full_name',
          label: this.$t('global.fields.full_name'),
          sortable: false
        },
        {
          key: 'verified',
          label: this.$t('global.fields.email_verified'),
          sortable: false
        },
        {
          key: 'created_at',
          label: this.$t('global.fields.registrationDate'),
          sortable: false
        },
        {
          key: 'deletable',
          label: this.$t('global.fields.deletable'),
          sortable: false
        },
        {
          key: 'actions',
          label: this.$t('global.fields.actions'),
          sortable: false
        }
      ],
      meta: {
        total: 0
      },
      searchParameters: {
        verified: null,
        email: null,
        user_type: 'admin',
        page: 1,
        limit: 10,
        direction: 'asc',
        orderby: 'created_at'
      },
      valid: false,
      sortOrder: false,
      isBusy: false,
      addAdmin: false,
      dataForm: {
        email: null,
        terms: 1,
        user_type: 'admin',
        deletable: 1
      }
    }
  },
  methods: {
    getItems(ctx, callback) {
      this.getTableData(ctx, callback, this.searchParameters)
    },
    newAdmin() {
      this.addAdmin = !this.addAdmin
    },
    addNewAdmin() {
      this.valid = true
      this.$toast.clear()
      this.$store
        .dispatch('users/register', this.dataForm)
        .then(response => {
          this.valid = false
          this.$toast.show(response.data.message, {
            icon: 'check',
            type: 'success'
          })
          this.addAdmin = false
          this.refreshTable()
        })
        .catch(err => {
          const errs = []
          _.each(err.response.data.errors, function(messages, field) {
            errs.push(
              _.merge(
                {},
                {
                  field: field,
                  msg: messages[0]
                }
              )
            )
          })
          if (errs.length > 0) {
            this.errors.add(errs)
          }
          this.valid = false
          this.$toast.show(err.response.data.message, {
            icon: 'close',
            type: 'error'
          })
        })
    },

    deleteAdmin(item, modal, action) {
      this.$toast.clear()
      this.$dlg.alert(this.$t('global.message.sure_delete'), {
        width: '100px',
        that: this,
        item: item,
        messageType: 'confirm',
        language:
          this.$store.getters.locale !== 'ja'
            ? this.$store.getters.locale
            : 'jp',
        callback: function() {
          const key = this.that.$dlg.mask(
            this.that.$t('global.message.loading')
          )
          this.that.$store
            .dispatch('users/deleteAdmin', { id: this.item.id })
            .then(response => {
              this.that.$dlg.close(key)
              this.that.$toast.show(
                this.that.$t('global.message.delete_success_admin'),
                { icon: 'check', type: 'success' }
              )
              this.that.refreshTable()
            })
            .catch(err => {
              this.that.$dlg.close(key)
              this.that.$toast.show(err.response.data.message, {
                icon: 'close',
                type: 'error'
              })
            })
        }
      })
    }
  }
})
</script>
<style scoped>
.reset {
  word-break: keep-all;
}
</style>
